@import "variables";

// Home
// ====

.home {
  margin-top: 2em;

  section {
    margin-bottom: 1em;
  }

  .showcase-headline {
    @include make-md-column(12);
    padding-top: 1em;
    text-align: center;
    h1 {
      font-size: 3.6em;
      margin-bottom: .8em;
    }

    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  .showcase-text {
    @include make-md-column(12);
    padding-bottom: 3em;

    h2 {
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1.4em;

      &.ticket-callout {
        margin: 0 0 1.4em 0;
        font-size: 1.8em;
        padding: 0.5em;
        background: $paleSecondary;
        border: $secondary 1px solid;
        border-radius: 6px;
        text-align: center;

        button {
          margin: 0.8em 0 0.5em 0;
          font-size: 1.2em;
          background-color: $primary;
        }

        @media (max-width: 768px) {
          padding: 1em 0.5em;
        }
      }

      @media (max-width: 768px) {
        text-align: left;
      }
    }

    @media (max-width: 768px) {
      padding-bottom: 0;
    }
  }

  .showcase-image {
    @include make-md-column(12);
    img {
      margin: 1em 0;
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .location-header {
    @include make-md-column(12);
  }

  .location-map {
    @include make-md-column(8);
  }

  .location-details {
    @include make-md-column(4);

    dl.dl-horizontal {
      dt {
        font-size: 1.2em;
        width: 80px;
        font-weight: 700;
      }

      dd {
        font-size: 1.2em;
        margin-left: 100px;
      }

      @media (max-width: 760px) {
        dt {
          text-align: left !important;
        }
        dd {
          margin: 0 0 1em 0;
        }
      }
    }
  }

  .venueMap {
    margin: 0;
    width: 100%;
    height: 378px;
  }

  @media (max-width: 768px) {
    .venueMap {
      height: 320px;
    }
  }

  .speakers {
    @include make-md-column(12);
    padding-bottom: 4em;

    .speakers-headline {
      padding-top: 1em;
      text-align: center;
      h1 {
        font-size: 3em;
        margin-bottom: .8em;
      }

      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    .speaker-list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div {
        text-align: center;
        img {
          clip-path: circle(120px at center);
          -webkit-clip-path: circle(120px at center);
          -moz-clip-path: circle(120px at 150px 150px);
        }
      }
    }
  }

  .top-sponsors {
    @include make-md-column(12);
    padding: 1em 0;
    background: linear-gradient(#fff, lighten($palePrimary, 10));

    .top-sponsors-headline {
      text-align: center;
      color: $gray30;

      h3 {
        font-weight: 400;
        font-size: 1em;
        margin-bottom: 1.8em;
      }

      @media (max-width: 768px) {
        padding-top: 0;
      }
    }

    .top-sponsors-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      a.sponsor-logo-link {
        padding: 0 2em;
        margin: 0;
        display: block;
        text-align: center;
      }
    }

    .sponsor-twosigma {
      width: 180px;
      margin-top: 10px;

      @media (max-width: 768px) {
        padding-top: 10px;
      }
    }

    .sponsor-comcast {
      width: 140px;
    }
  }

}