@import "variables";

.home-main-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  @media (max-width: 768px) {
    padding-top: 60px;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: calc(100% - 65px);
    background: linear-gradient($paleTertiary 50px, $paleSecondary, $palePrimary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    //opacity: .8;
  }
}

.desktop-img {
  width: 100%;
  max-width: 2000px;
  min-width: 1300px;
}

.mobile-img {
  display: none;
}

$phone: 450px;

section.schedule {
  @media (max-width: $phone) {
    h3 {
      text-align: center;
    }
  }

  dl {
    margin-top: 1.8em;

    dt {
      background: $gray10;
      border-top: $gray30 1px solid;
      font-weight: normal;
      min-height: 75px;
      min-width: 200px;
      padding: 10px;
      text-align: center;

      @media (max-width: $phone) {
        background: $gray10;
        border-top: 0;
        color: $gray80;
        display: block;
        font-weight: normal;
        margin: 10px 0 0 0;
        min-height: 0;
        padding: 5px;
      }
    }

    dd {
      border-top: $gray10 1px solid;
      margin-left: 220px;
      min-height: 75px;
      padding: 10px;

      &:hover {
        background: lighten($lightPrimary, 30);
      }

      @media (max-width: $phone) {
        border-top: 0;
        display: block;
        margin: 0 0 10px 0;
        min-height: 0;
        padding: 5px;
        text-align: center;
      }
    }

    dd.speaker {
      font-weight: 700;
      span {
        font-weight: normal;
        display: block;
      }
    }

    dt, dd {
      font-size: 2rem;
    }
  }
}
