@import "variables";

.home-main-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  @media (max-width: 768px) {
    padding-top: 60px;
  }

  &:after {
    display: block;
    content: '';
    width: 100%;
    height: calc(100% - 65px);
    background: linear-gradient($paleTertiary 50px, $paleSecondary, $palePrimary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    //opacity: .8;
  }
}

.desktop-img {
  width: 100%;
  max-width: 2000px;
  min-width: 1300px;
}

.mobile-img {
  display: none;
}