@import "variables";

.speaker {
  .speaker-photo {
    @include make-md-column(4);
    text-align: center;
    margin-top: 2em;

    img {}
  }

  .speaker-headline {
    @include make-md-column(8);
    margin-top: 2em;

    h1 {
      margin: 0;
    }

    h2 {
      color: $gray60;
      font-size: 1.4em;
      margin-top: 0.5em;
      margin-bottom: 0;
      line-height: 140%;
    }
  }

  .speaker-text {
    @extend .text-col;
    @include make-md-column(8);
    margin-top: 1em;
  }
}
