.svg-icon-twitter {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.svg-icon-slack {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.svg-icon-pwl-topnav {
  width: 120px;
  height: 120px;
  margin-left: -10px;
}
