@charset "utf-8";

$icon-font-path: '../fonts/bootstrap/';

@import 'bootstrap';

$palePrimary: #B4E2EF;
$lightPrimary: #5AB5E6;
$primary: #268ACB;
$darkPrimary: #0A61AE;

$paleSecondary: desaturate(#FBD1D9, 20);
$lightSecondary: #F48A9F;
$secondary: #F15965;
$darkSecondary: #DE3A4E;

$paleTertiary: desaturate(#FEE6D2, 20);

@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro:400,400i,700&subset=latin-ext');

$sans: 'Source Sans Pro', sans-serif;
$serif: 'Bitter', serif;

html,
body {
  margin: 0;
  padding: 0;
  font-family: $sans;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:after {
    display: block;
    content: '';
    width: 100%;
    height: calc(100% - 65px);
    background: linear-gradient($paleTertiary, $paleSecondary, $palePrimary);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
  }
}

.desktop-img {
  width: 100%;
  max-width: 2000px;
  min-width: 1300px;
}

.mobile-img {
  display: none;
}

nav {
  border-bottom: 1px solid rgba($primary, .1);
  padding: 30px 0 20px;
  margin: 0 0 10px;
  width: 100%;
  text-align: center;
  a {
    color: $primary;
    font-family: $serif;
    text-decoration: none;
    margin: 0 8px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .03rem;
  }
}

.mobile-text {
  display: none;
}

@media (max-width: 768px) {
  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 100%;
  }

  .mobile-text {
    display: block;
    text-align: center;
    color: red;
  }
}

body {
  text-rendering: optimizeLegibility;
}

section {
  @include make-row();
  margin-bottom: 2em;
}

// Type
// ====


h1, h2, h3, h4 {
  font-family: $serif;
}

p {
  a {
    color: $primary;
    &:hover {
      color: $secondary;
    }
  }
}

// Home
// ====

.home {
  margin-top: 2em;

  .showcase-headline {
    @include make-md-column(12);
    text-align: center;
    h1 {
      font-size: 3.6em;
      margin-bottom: .8em;
    }
  }

  .showcase-text {
    @include make-md-column(12);
    p {
      text-align: center;
      font-size: 1.4em;
    }
  }

  .showcase-image {
    @include make-md-column(12);
    img {
      margin: 1em 0;
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .location-header {
    @include make-md-column(12);
  }

  .location-map {
    @include make-md-column(8);
  }

  .location-details {
    @include make-md-column(4);

    dl.dl-horizontal {
      dt {
        font-size: 1.2em;
        width: 80px;
        font-weight: 700;
      }

      dd {
        font-size: 1.2em;
        margin-left: 100px;
      }

      @media (max-width: 768px) {
        dd {
          margin: 0 0 1em 0;
        }
      }
    }
  }

  .venueMap {
    margin: 0;
    width: 100%;
    height: 378px;
  }

  @media (max-width: 768px) {
    .venueMap {
      height: 320px;
    }
  }

}
