@charset "utf-8";

$icon-font-path: '../fonts/bootstrap/';

@import "bootstrap";
@import "font-awesome/font-awesome";
@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  font-family: $sans;
}

@import "index2017";
@import "topnav2017";
@import "footer2017";
@import "type2017";
@import "home2017";
@import "sponsor2017";
@import "speaker2017";

// Internal
// ========

.internal {
  margin-top: 110px;

  section {
    margin-bottom: 2em;
  }
}

.headline-col {
  @include make-md-column(12);

  h1 {
    margin: 2em 0 1.6em 0;
    line-height: 130%;

    @media (max-width: 768px) {
      margin: .8em 0 1em 0;
    }
  }

  h4 {
    margin-bottom: 1em;
    font-style: italic;
  }
}

.text-col {
  @include make-md-column(8);
  @extend .text-styles;
}

.photo-col {
  @include make-md-column(4);
  @extend .text-styles;

  img {
    margin-bottom: .5em;
  }

  span {
    font-size: 1em;
    color: #999;
  }
}

// Prospectus
// ==========

.prospectus {
  .prospectus-headline {
    @extend .headline-col;
    margin-bottom: 2em;
  }

  .prospectus-text {
    @extend .text-col;
  }

  .prospectus-photo {
    @extend .photo-col;
  }

  .prospectus-opportunities {
    @include make-md-column(6);
    @extend .text-styles;

    h4 {
      font-size: 1.4em;
      font-weight: 700;
    }
  }

  .prospectus-opportunity {
    margin-bottom: 2em;

    @media (max-width: 768px) {
      margin-bottom: 3em;
    }
  }
}


// Code of Conduct
// ===============

.coc {
  .coc-headline {
    @extend .headline-col;
  }

  .coc-text {
    @extend .text-col;
  }

  .coc-photo {
    @extend .photo-col;

    h3 {
      margin-top: 0;

      @media (max-width: 768px) {
        margin-top: 1em;
      }

      @media (max-width: 1000px) {
        margin-top: 1em;
      }
    }
  }

  ul {
    li {
      margin-bottom: 1em;
      strong {
        display: block;
      }
    }
  }
}

// About
// =====

.about {
  .about-headline {
    @extend .headline-col;
  }

  .about-text {
    @extend .text-col;
  }

  .about-photo {
    @extend .photo-col;
  }
}
