@charset "utf-8";

@import "bourbon";
@import "neat-helpers";

// Mobile first
$max-width: em(813);
$grid-columns: 4;
$desktop: new-breakpoint(min-width 768px 4);
$mobile: new-breakpoint(max-width 500px 4);

@import "neat";
@import "fonts";
@import "reset";

$sans: 'Helvetica Neue', helvetica, arial, sans;
$serif: 'Computer Modern Serif', 'Palatino', Georgia, Times, serif;

$color-darkblue: #003366;
$color-lightblue: #B4D6E4;
$color-mediumblue: #7F99B3;
$color-white: #fff;
$color-text: #6B6B6B;
$color-pink: #F605C9;

html {
  background: $color-darkblue;
  font-family: $sans;
}

body {
  text-rendering: optimizeLegibility;
}

#main {
  color: $color-white;
}

#articleContainer {
  @include outer-container;
  section {
    @include span-columns(4);
  }
}

#articleContainer > .articleTagline {
  padding: 2em;
  text-align: center;
  font-family: $serif;
  font-style: italic;
  font-size: 1.1em;
  display: none;
  @include media($desktop) {
    display: block;
  }
}

// ========
// Masthead
// ========

.articleMasthead {
  background: $color-lightblue;
  text-align: center;
}

.articleMastheadContent {
  padding: 2em;
  text-align: center;
}

.mastheadRow {
  display: flex;
  justify-content: space-between;
}

.mastheadRow.top {
  padding-bottom: 3em;
}

.mastheadRow.bottom {
  padding-top: 3em;
}

.imgPwlLogo {
  width: 207px;
}

.imgPwlConfLogo {
  margin-left: 6px;
  @include media($desktop) {
    margin-left: 0;
  }
}

.cornerTopLeft {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.cornerBottomLeft {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.cornerBottomRight {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}


.mastheadCity,
.mastheadState {
  color: $color-mediumblue;
  font-size: 1.2em;
  text-transform: uppercase;
}

.mastheadCity {
  position: relative;
  top: 200px;
  left: 110px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  display: none;
  @include media($desktop) {
    display: inline-block;
  }
}

.mastheadState {
  position: relative;
  top: 110px;
  right: 20px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin:    0 0;
  -ms-transform-origin:     0 0;
  -o-transform-origin:      0 0;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  display: none;
  @include media($desktop) {
    display: inline-block;
  }
}

.mastheadDates {
  color: $color-darkblue;
  font-size: 1.2em;
  @include media($desktop) {
    font-size: 1.5em;
  }
}

.mastheadLinks {
  margin: 0;
  padding: 0;
  padding-bottom: 1.5em;
  span {
    display: block;
    margin-bottom: 15px;
  }

  a {
    display: inline-block;
    padding: .6em .8em;
    border-radius: 6px;
    background-color: $color-darkblue;
    color: $color-white;
    font-size: .9em;
    text-decoration: none;
    &:hover {
      background-color: $color-pink;
    }

    @include media($desktop) {
      display: inline-block;
      padding: .4em 1em;
      font-size: 1.3em;
    }
  }
}


// ============
// Text Content
// ============

.articleTextContent {
  background: $color-white;
  color: $color-text;
  padding: 2em;
  @include media($desktop) {
    padding: 2em 5em;
  }

  h1 {
    color: $color-darkblue;
    font-weight: normal;
    font-size: 2.5em;
    margin: 1em 0 1em 0;
  }

  h2 {
    color: $color-mediumblue;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    margin: 0.5em 0 0 0;
    @include media($desktop) {
      margin: 1em 0 2em 0;
    }
  }

  h3 {
    font-weight: normal;
    color: $color-darkblue;
    margin-top: 2em;
  }

  p {
    line-height: 140%;
    margin: 1em 0;
  }

  a {
    color: $color-darkblue;
    &:hover {
      color: $color-pink;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin-left: 1em;
      margin-bottom: 1em;
      line-height: 140%;
    }
  }
}

// ============
// Photo Content
// ============

.articlePhotoContent {
  margin: 0;
  padding: 0;

  img {
    display: block;
    margin: 0;
    padding: 0;
  }

  .photoCaption {
    display: inline-block;
    position: absolute;
    margin-bottom: 0;
    margin-top: -5em;
    margin-left: 2em;
    color: $color-white;
    font-family: $serif;
    text-shadow: 0 1px 1px rgba($color-darkblue, .5);

    h3 {
      font-size: 1.1em;
    }

    a {
      font-size: 1em;
      color: $color-white;
      &:hover {
        background: $color-pink;
        text-decoration: none;
        text-shadow: none;
      }
    }

    @include media($desktop) {
      margin-top: -5em;
      margin-left: 5em;
      h3 {
        font-size: 1.2em;
      }
      a {
        font-size: 1.1em;
      }
    }
  }

  .photoCaption.map {
    margin-top: -2.5em;
    @include media($desktop) {
      margin-top: -4em;
    }
  }
}

// ===============
// Sponsor Content
// ===============

.articleSponsorContent {
  margin: 0;
  padding: 0;
  background: $color-white;
  border-top: $color-lightblue 1px solid;
  border-bottom: $color-lightblue 1px solid;
  text-align: center;

  img {
    display: block;
    margin: 1em auto;
    padding: 0;
  }

  .photoCaption {
    display: block;
    margin: 0;
    color: lighten($color-darkblue, 50);
    font-family: $sans;

    h3 {
      font-size: 1.1em;
    }

    a {
      font-size: 1em;
      color: darken($color-lightblue, 20);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    @include media($desktop) {
      margin-bottom: 1em;
      h3 {
        font-size: 1.2em;
      }
      a {
        font-size: .8em;
      }
    }
  }
}


// ======================
// Sponsor Entry Content
// ======================
.articleSponsorEntryContent {
  @extend .articleTextContent;

  border-bottom: $color-lightblue 1px solid;

  a.platinum {
    display: block;
    text-align: center;
  }

  a.gold {
    display: block;
    text-align: center;
  }

  a.silver {
    display: block;
    text-align: center;
    margin-top: 1em;
    @include media($desktop) {
      height: 90px;
      text-align: center;
      margin-top: 0;
    }
  }

  a.bronze {
    display: block;
    height: 40px;
    text-align: center;
    margin: 2em 0;
    @include media($desktop) {
      padding-right: 2em;
      margin-bottom: 4em;
      &:last-child {
        padding-right: 0;
        padding-left: 2em;
      }
    }
  }

  img.comcast {
    width: 75%;
  }

  img.gold {
    margin-top: 1em;
    width: 80%;
    @include media($desktop) {
      width: 60%;
      margin-top: 0;
    }
  }

  img.silver {
    width: 60%;
    @include media($desktop) {
      width: 80%;
    }
  }

  img.silver.simple {
    width: 60%;
    @include media($desktop) {
      position: relative;
      top: 10px;
      left: -10px;
      width: 75%;
    }
  }

  img.bronze {
    width: 50%;
    @include media($desktop) {
      width: 240px;
    }
  }

  img.additionalSponsor {
    margin: 1em 0;
    width: 180px;
    display: block;
    @include media($desktop) {
      width: 180px;
    }
  }

  img.additionalSponsor.binary {
    height: 90px;
    width: 90px;
    @include media($desktop) {
      height: 110px;
      width: 110px;
      margin-top: 0;
    }

  }

  div.additionalSponsorLogos {
    padding: .5em 0;
    display: flex;
    justify-content: space-around;
  }

  div.bronzeSponsorLogos {
    @extends div.additionalSponsorLogos;
    height: none;
  }

  div.silver {
    @include media($desktop) {
      display: flex;
      justify-content: space-between;
      div {
        width: 50%;
        padding-right: 1.5em;
        &:last-child {
          padding-left: 1.5em;
          padding-right: 0;
        }
      }
    }
  }

  div.bronze {
    @include media($desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  div.additionalSponsor {
    margin: 1.5em;
    text-align: center;
    font-size: 1.5em;
  }

  p.gold {
    font-size: .9em;
    @include media($desktop) {
      font-size: 1em;
    }
  }

  p.silver {
    font-size: .8em;
    margin-bottom: 2em;
    @include media($desktop) {
      font-size: .9em;
    }
  }
}


// ===============
// Footer Content
// ===============

.articleFooterContent {
  background: $color-white;
  border-top: $color-mediumblue 1px solid;
}

.footerRow {
  padding: 2em;
  text-align: center;

  h2 {
    font-weight: normal;
    font-size: 1.1em;
    text-transform: uppercase;
    color: $color-mediumblue;
    margin: 0 0 .6em 0;
  }

  a {
    font-size: 1em;
    color: $color-darkblue;
    &:hover {
      color: $color-pink;
    }
  }

  .footerItem {
    margin-bottom: 2em;
  }

  @include media($desktop) {
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;

    .footerItem {
      margin-bottom: 1em;
    }
  }
}


// ===========
// Nav Content
// ===========

.articleNavigation {
  background: $color-lightblue;
  padding: 2em;
  @include media($desktop) {
    padding: 2em 5em;
  }
}

.navRow {
  @include media($desktop) {
     display: flex;
     justify-content: space-between;
  }
}

.navLink {
  text-decoration: none;
  color: $color-darkblue;
  &:hover {
    color: $color-pink;
    text-decoration: underline;
  }

  display: block;
  padding: 6px 0;
  margin: 5px 0;

  @include media($desktop) {
     display: inline-block;
     padding-top: 24px;
  }
}

.imgPwlConfNavLogo {
  height: 80px;
}
