---
title: ACM Promotion
og_title: ACM Promotion | Papers We Love Conference 2018
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text prospectus">
  <h1>Exclusive offer for Papers We Love Conference attendees</h1>
  <div class="description">
    <section class="text-main">
      <h3>Receive a free 3-month trial of ACM Professional Membership!</h3>

      <div class="photo">
        <a class="sponsor-logo-link" href="https://www.acm.org/join/pwlconf"><%= image_tag '2017/ACM.svg', :alt => "ACM Logo", :title => "Silver Sponsor ACM", :class => "sponsor-acm" %></a>
      </div>

      <p>ACM, the Association for Computing Machinery, helps computing professionals to be creative, connect with peers, and see what’s next.</p>

      <p>During your 3-month trial membership you will enjoy all the benefits of ACM Professional Membership, including: Communications of the ACM magazine, the essential source for computing professionals; access to Safari's entire collection of 40,000+ online books and videos; online courses from Skillsoft on today's most sought-after job skills and certifications; webinars featuring well-known speakers on the hottest topics in computing today; and much more.</p>

      <p><strong>To take advantage of this special offer, go to <a href="https://www.acm.org/join/pwlconf">www.acm.org/join/pwlconf</a></strong></p>
    </section>
  </div>
</article>
