---
title: Ari Schlesinger
og_title: Ari Schlesinger | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/ari-schlesinger-square.jpg
og_height: 600
og_width: 600
og_image_alt: Photo of Ari Schlesinger
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Ari Schlesinger</h1>
  <h2>PhD Student, School of Interactive Computing,<span>Georgia Tech</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/ari-schlesinger-square.jpg', :width => "100%", :alt => "Photo of Ari Schlesinger", :title => "Ari Schlesinger" %>
      </div>

      <h3>Biography</h3>

      <p>Ari Schlesinger researches how we can build equity into software, hardware, and the design process. Ari’s work in Human-Computer Interaction uncovers strategies for addressing complicated tech problems by connecting people, systems, and infrastructure in novel ways. Recent publications include <a href="https://www.cc.gatech.edu/fac/keith/pubs/chi2017-intersectional.pdf" alt="Link to PDF">Intersectional HCI: Engaging Identity through Gender, Race, and Class</a> and <a href="https://static1.squarespace.com/static/5a8b405a18b27d5478196dca/t/5a8b690d24a694d7072d25a1/1519085853799/chi18-schlesinger-LetsTalkAboutRace.pdf" alt="Link to PDF">Let’s Talk About Race: Identity, Chatbots, and AI</a>.</p>

      <p>Previously, Ari worked with the Human Experience & Design Group at Microsoft and as a Research Project Manager on an NSF grant. Schlesinger is a PhD student in the Human-Centered Computing program in the School of Interactive Computing at Georgia Tech. To find out more, check out <a href="https://arischlesinger.com/" alt="Link to website">www.AriSchlesinger.com</a></p>

      <h3>Links</h3>

      <ul>
        <li><a href="https://dblp.uni-trier.de/pers/hd/s/Schlesinger:Ari">DBLP</a></li>
      </ul>
    </section>
  </div>
</article>
