---
title: Ari Schlesinger
description: "Including Equity in Tech Work: A Quick, Paper-Based Guide"
og_title: Ari Schlesinger | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/ari-schlesinger-square.jpg
og_image_type: 'image/jpeg'
og_height: 600
og_width: 600
og_image_alt: Photo of Ari Schlesinger
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Ari Schlesinger</h1>
  <h2>PhD Student, School of Interactive Computing,<span>Georgia Tech</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/ari-schlesinger-square.jpg', :width => "100%", :alt => "Photo of Ari Schlesinger", :title => "Ari Schlesinger" %>
      </div>

      <h3 id="title">Including Equity in Tech Work: A Quick, Paper-Based Guide</h3>

      <p>Figuring out how to build equity into tech is no easy task. We spend so much time worrying about bugs, efficiency, and MIA curly brackets… it isn’t always clear how we should focus on equity, accessibility, and inclusion. Still, we need to ask ourselves: how does the tech we build benefit some while further harming others? In this talk I am going to share with you an overview of papers and practices that can help us reconcile the details of tech work with the power and social impact of the things we build.</p>

      <h3 id="references">References</h3>
      <ul>
        <li><a href="https://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=5&amp;ved=2ahUKEwjj2YbloN_cAhWOON8KHdKCCZgQFjAEegQIBhAC&amp;url=https%3A%2F%2Fcanvas.harvard.edu%2Fcourses%2F11765%2Ffiles%2F2389439%2Fdownload%3Fverifier%3DIqbrrwYvpApP6Cf2McInhQl8M1TNy5w8zAttckyF%26wrap%3D1&amp;usg=AOvVaw1PkKpp3-JNVjUvjPKsLHP5">Situated Knowledges: The Science Question in Feminism and the Privilege of Partial Perspective</a> by D. Haraway</li>
        <li><a href="https://chicagounbound.uchicago.edu/cgi/viewcontent.cgi?article=1052&amp;context=uclf">Demarginalizing the Intersection of Race and Sex: A Black Feminist Critique of Antidiscrimination Doctrine, Feminist Theory and Antiracist Politics Doctrine</a> by K. Crenshaw</li>
        <li><a href="http://faculty.georgetown.edu/irvinem/theory/Haraway-CyborgManifesto.html">A Cyborg Manifesto: Science, Technology, and Socialist-Feminism in the Late Twentieth Century</a> by D. Haraway</li>
        <li><a href="http://www2.kobe-u.ac.jp/~alexroni/IPD%202015%20readings/IPD%202015_5/Under%20western%20Eyes%20revisited.pdf">“Under Western Eyes” Revisited: Feminist Solidarity through Anticapitalist Struggles</a> by C. T. Mohanty</li>
        <li><a href="https://www.press.umich.edu/pdf/9780472070398-intro.pdf">“Introduction” to Disability Theory</a> by T. Siebers</li>
        <li><a href="https://books.google.com/books/about/Race_After_the_Internet.html?id=aOiSAgAAQBAJ">Race After the Internet</a> edited by L. Nakamura</li>
        <li><a href="https://www.dukeupress.edu/living-a-feminist-life">Living a Feminist Life</a> by S. Ahmed</li>
        <li><a href="https://ellieharmon.com/docs/DombrowskiHarmonFox-SocialJustice-DIS2016.pdf">Social Justice-Oriented Interaction Design: Outlining Key Design Strategies and Commitments</a> by L. Dombrowski, E. Harmon, and S. Fox</li>
        <li><a href="http://marisaduarte.net/Duarte_Connected%20Activism.pdf">Connected Activism: Indigenous Uses of Social Media for Shaping Political Change</a> by M. Duarte</li>
        <li><a href="https://www.cc.gatech.edu/fac/keith/pubs/chi2017-intersectional.pdf">Intersectional HCI: Engaging Identity through Gender, Race, and Class</a> by A. Schlesinger, W. K. Edwards, and R. E Grinter</li>
        <li><a href="https://www.semanticscholar.org/paper/Trans-Competent-Interaction-Design%3A-A-Qualitative-Ahmed/4fedf0ce2af259f9435ccb913969c1c8bfebdec2">Trans Competent Interaction Design: A Qualitative Study on Voice, Identity, and Technology</a> by A. A. Ahmed</li>
        <li><a href="https://static1.squarespace.com/static/5a8b405a18b27d5478196dca/t/5a8b690d24a694d7072d25a1/1519085853799/chi18-schlesinger-LetsTalkAboutRace.pdf">Let’s Talk About Race: Identity, Chatbots, and AI</a> by A. Schlesinger, K. P. O’Hara, and A. S. Taylor</li>
        <li><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3189696">Design Justice: Towards an Intersectional Feminist Framework for Design Theory and Practice</a> by S. Constanza-Chock</li>
        <li><a href="http://projectinclude.org/">Project Include</a></li>
      </ul>

      <h3>Biography</h3>

      <p>Ari Schlesinger researches how we can build equity into software, hardware, and the design process. Ari’s work in Human-Computer Interaction uncovers strategies for addressing complicated tech problems by connecting people, systems, and infrastructure in novel ways. Recent publications include <a href="https://www.cc.gatech.edu/fac/keith/pubs/chi2017-intersectional.pdf" alt="Link to PDF">Intersectional HCI: Engaging Identity through Gender, Race, and Class</a> and <a href="https://static1.squarespace.com/static/5a8b405a18b27d5478196dca/t/5a8b690d24a694d7072d25a1/1519085853799/chi18-schlesinger-LetsTalkAboutRace.pdf" alt="Link to PDF">Let’s Talk About Race: Identity, Chatbots, and AI</a>.</p>

      <p>Previously, Ari worked with the Human Experience & Design Group at Microsoft and as a Research Project Manager on an NSF grant. Schlesinger is a PhD student in the Human-Centered Computing program in the School of Interactive Computing at Georgia Tech. To find out more, check out <a href="https://arischlesinger.com/" alt="Link to website">www.AriSchlesinger.com</a></p>

      <h3>Links</h3>

      <ul>
        <li><a href="https://dblp.uni-trier.de/pers/hd/s/Schlesinger:Ari">DBLP</a></li>
      </ul>
    </section>
  </div>
</article>
