---
title: Casey Canfield
description: "Grid Modernization: What is it and what's next?"
og_title: Casey Canfield | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/casey-canfield-original.jpg
og_image_type: 'image/jpeg'
og_height: 453
og_width: 453
og_image_alt: Photo of Casey Canfield
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Casey Canfield</h1>
  <h2>Assistant Professor in Engineering Management &amp; Systems Engineering, <span>Missouri S&amp;T</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/casey-canfield-original.jpg', :width => "100%", :alt => "Photo of Casey Canfield", :title => "Casey Canfield" %>
      </div>

      <h3 id="title">Grid Modernization: What is it and what’s next?</h3>

      <h3>Biography</h3>

      <p>Casey Canfield <a href="https://twitter.com/caseycan">@caseycan</a> is an Assistant Professor in Engineering Management &amp; Systems Engineering at Missouri S&amp;T. Her research is focused on quantifying the human part of complex systems to improve decision-making. She has a PhD in Engineering &amp; Public Policy from Carnegie Mellon University, where she published research on how to communicate electricity information, improve stakeholder engagement in the City of Pittsburgh, and quantify people’s ability to detect phishing emails for risk analysis. After completing her PhD, she spent a year and a half as a Science and Technology Policy Fellow in the U.S. Department of Energy’s Solar Energy Technologies Office. She was primarily involved in designing and managing programs that aim to increase innovation in the energy sector.</p>

      <h3>Links</h3>

      <ul>
        <li><a href="https://scholar.google.com/citations?user=-JuPtRwAAAAJ&amp;hl=en">Google Scholar</a></li>
      </ul>
    </section>
  </div>
</article>
