---
title: Dan Piponi
description: Stable Fluids by Jos Stam
og_title: Dan Piponi | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/dan-piponi-square.jpg
og_image_type: 'image/jpeg'
og_height: 373
og_width: 373
og_image_alt: Photo of Dan Piponi
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Dan Piponi</h1>
  <h2>Software Engineer,<span>Verily</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/dan-piponi-square.jpg', :width => "100%", :alt => "Photo of Dan Piponi", :title => "Dan Piponi" %>
      </div>

      <h3 id="title">Stable Fluids</h3>

      <p>Computational fluid dynamics (CFD) plays an important role in movie production. Back in 1986, it was used in the simulation of Jupiter’s atmosphere in the sequel to 2001: A Space Odyssey, and today its use is ubiquitous in the simulation of oceans, fires, and explosions in almost every blockbuster movie. In 1986, CFD required access to supercomputing facilities, but in 1999 Jos Stam published a highly influential paper, <a href="http://www.dgp.toronto.edu/people/stam/reality/Research/pdf/ns.pdf">Stable Fluids</a>, showing how to compute fluid simulations both easily and efficiently. A few years later, he was able to demonstrate a fluid simulation running on a handheld device at the SIGGRAPH conference, drawing gasps of astonishment from the audience. Many of the CFD techniques used in animation today have their roots in Stam’s paper and the relative simplicity of his approach has made the simulation of fluid phenomena accessible to a wide audience.</p>
      <p>In this talk I will revisit Stam’s paper. I hope to give the audience a good idea of how they could implement a fluid simulation for themselves, just as Stam did for his audience back in 1999.</p>

      <h3 id="references">References</h3>
      <ul>
        <li><a href="http://www.dgp.toronto.edu/people/stam/reality/Research/pdf/ns.pdf">Stable Fluids</a> by Jos Stam</li>
        <li><a href="https://www.researchgate.net/publication/220721557_Combining_physical_and_visual_simulation---creation_of_the_planet_Jupiter_for_the_film_2010">Combining physical and visual simulation—creation of the planet Jupiter for the film “2010”</a> by L. Yaeger, C. Upson and R. Myers</li>
        <li><a href="http://graphics.cs.cmu.edu/nsp/course/15-464/Spring07/papers/fosterGas.pdf">Modeling the Motion of a Hot, Turbulent Gas</a> by N. Foster and D. Metaxas</li>
      </ul>

      <h3 id="bio">Biography</h3>
      <p><a href="https://scholar.google.com/citations?user=v7BpHMEAAAAJ&amp;hl=en">Dan Piponi</a> is a software engineer working in the Advanced Imaging group at <a href="https://verily.com/">Verily</a>, Alphabet’s life sciences organization.</p>
      <p>Before joining Verily, Dan worked in Google X. He was was one of the founders of <a href="https://x.company/loon/">Project Loon</a>, whose mission is to provide wireless Internet coverage around the world from a fleet of balloons.</p>
      <p>Dan’s previous career was in computer graphics where he worked on visual effects for movies such as The Matrix trilogy and 2009’s Star Trek reboot. He was awarded three Academy Scientific and Technical Achievement awards for work in virtual cinematography, fluid simulation, and facial motion capture.</p>
      <p>Dan has also been known to write about mathematics and functional programming at his blog, <a href="http://blog.sigfpe.com/">A Neighborhood of Infinity</a>.</p>

      <h3>Links</h3>
      <ul>
        <li><a href="https://dblp.uni-trier.de/pers/hd/p/Piponi:Dan">DBLP</a></li>
        <li><a href="https://www.imdb.com/name/nm0685004/">IMDB</a></li>
        <li><a href="https://twitter.com/sigfpe">@sigfpe</a> / Twitter</li>
      </ul>
    </section>
  </div>
</article>
