---
title: Dan Piponi
og_title: Dan Piponi | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/dan-piponi-square.jpg
og_height: 373
og_width: 373
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Dan Piponi</h1>
  <h2>Software Engineer,<span>Verily</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/dan-piponi-square.jpg', :width => "100%", :alt => "Photo of Dan Piponi", :title => "Dan Piponi" %>
      </div>

      <h3 id="bio">Biography</h3>
      <p><a href="https://scholar.google.com/citations?user=v7BpHMEAAAAJ&amp;hl=en">Dan Piponi</a> is a software engineer working in the Advanced Imaging group at <a href="https://verily.com/">Verily</a>, Alphabet’s life sciences organization.</p>
      <p>Before joining Verily, Dan worked in Google X. He was was one of the founders of <a href="https://x.company/loon/">Project Loon</a>, whose mission is to provide wireless Internet coverage around the world from a fleet of balloons.</p>
      <p>Dan’s previous career was in computer graphics where he worked on visual effects for movies such as The Matrix trilogy and 2009’s Star Trek reboot. He was awarded three Academy Scientific and Technical Achievement awards for work in virtual cinematography, fluid simulation, and facial motion capture.</p>
      <p>Dan has also been known to write about mathematics and functional programming at his blog, <a href="http://blog.sigfpe.com/">A Neighborhood of Infinity</a>.</p>

      <h3>Links</h3>
      <ul>
        <li><a href="https://dblp.uni-trier.de/pers/hd/p/Piponi:Dan">DBLP</a></li>
        <li><a href="https://www.imdb.com/name/nm0685004/">IMDB</a></li>
        <li><a href="https://twitter.com/sigfpe">@sigfpe</a> / Twitter</li>
      </ul>
    </section>
  </div>
</article>
