---
title: Giulia Fanti
og_title: Giulia Fanti | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/giulia-fanti-square.jpg
og_height: 453
og_width: 453
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Giulia Fanti</h1>
  <h2>Assistant Prof. of Electrical and Computer Engineering,<span>Carnegie Mellon University</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/giulia-fanti-square.jpg', :width => "100%", :alt => "Photo of Giulia Fanti", :title => "Giulia Fanti" %>
      </div>

      <h3>Biography</h3>

      <p><a href="https://www.andrew.cmu.edu/user/gfanti/#publications">Giulia Fanti</a> is an assistant professor of ECE at Carnegie Mellon University, with a focus on privacy-preserving technologies. She obtained her Ph.D. in EECS from U.C. Berkeley, and her B.S. in ECE from Olin College of Engineering in 2010. She is a recipient of the National Science Foundation Graduate Research Fellowship, as well as a <a href="https://www.andrew.cmu.edu/user/gfanti/sigmetrics2015.pdf">Best Paper Award</a> at ACM Sigmetrics 2015 for her work on anonymous rumor spreading, in collaboration with Peter Kairouz, Sewoong Oh and Pramod Viswanath.</p>

      <h3>Links</h3>

      <ul>
        <li><a href="https://dblp.uni-trier.de/pers/hd/f/Fanti:Giulia_C=">DBLP</a></li>
      </ul>
    </section>
  </div>
</article>
