---
title: Roopsha Samanta
og_title: Roopsha Samanta | Papers We Love Conference 2018
og_image: https://pwlconf.org/images/2018/roopsha-samanta-square.jpg
og_height: 800
og_width: 800
og_image_alt: Photo of Roopsha Samanta
---
<%= partial '2018/partials/internalTopNav' %>
<article class="text speaker">
  <h1>Roopsha Samanta</h1>
  <h2>Assistant Prof. of Computer Science,<span>Purdue University</span></h2>
  <div class="description">
    <section class="text-main">
      <div class="photo">
        <%= image_tag '2018/roopsha-samanta-square.jpg', :width => "100%", :alt => "Photo of Roopsha Samanta", :title => "Roopsha Samanta" %>
      </div>

      <h3>Biography</h3>

      <p><a href="https://www.cs.purdue.edu/homes/roopsha/">Roopsha Samanta</a> (<a href="https://twitter.com/roopshasamanta">@roopshasamanta</a>) is an Assistant Professor in the Department of Computer Science at Purdue University. Her research mission is to make it easier for people to build provably reliable programs. Her research focuses on developing algorithms and tools for automated program repair and synthesis, and targets diverse application domains such as concurrent and distributed systems, personalized education and machine learning.</p>
      <p>Roopsha completed her Ph.D. at The University of Texas at Austin in 2013 and was a postdoctoral researcher at the Institute of Science and Technology Austria (IST Austria) from 2014-2016.</p>

      <h3>Links</h3>

      <ul>
        <li><a href="https://dblp.org/pers/hd/s/Samanta:Roopsha">DBLP</a></li>
        <li><a href="https://www.cs.purdue.edu/homes/roopsha/">Purdue University</a></li>
        <li><a href="https://twitter.com/roopshasamanta">@roopshasamanta</a></li>
      </ul>
    </section>
  </div>
</article>
