---
title: Speakers
og_title: Speakers | Papers We Love Conference 2016
---
<article id="articleContainer">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <section class="articleNavigation">
    <nav class="navRow">
      <a href="/" class="navLink">&larr; Back to PWLConf</a>
      <a href="/">
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
      </a>
    </nav>
  </section>
  <section class="articleSpeakerContent">
    <div class="speaker">
      <%= image_tag 'speakers/justine-sherry.jpg', :alt => "speaker one headshot", :title => "Speaker One", :class => "imgSpeaker" %>
      <h3>Justine Sherry</h3>
      <p>
        Computer person. I like middleboxes, systems, and especially Internets. Assistant Prof @ Carnegie Mellon starting July 2017!
      </p>
      <h3 class="paper"><a href="http://www.reed.com/Papers/EndtoEnd.html">End-To-End Arguments in System Design</a></h3>
      <p>
        This paper presents a design principle that helps guide placement of functions among the modules of a distributed computer system. The principle, called the end-to-end argument, suggests that functions placed at low levels of a system may be redundant or of little value when compared with the cost of providing them at that low level. Examples discussed in the paper include bit error recovery, security using encryption, duplicate message suppression, recovery from system crashes, and delivery acknowledgement. Low level mechanisms to support these functions are justified only as performance enhancements.
      </p>
    </div>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
