<section class="articleFooterContent">
  <div class="footerRow">
    <div class="footerItem">
      <a href="http://paperswelove.org"><h2>Web</h2></a>
    </div>
    <div class="footerItem">
      <a href="https://twitter.com/papers_we_love"><h2>Twitter</h2></a>
    </div>
    <div class="footerItem">
      <a href="mailto:pwlconf@paperswelove.org"><h2>Email</h2></a>
    </div>
    <div class="footerItem">
      <a href="http://papersweloveslack.herokuapp.com/"><h2>Slack</h2></a>
    </div>
    <div class="footerItem">
      <a href="/2016/"><h2>PWL 2016</h2></a>
    </div>
  </div>
</section>
