<footer>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul role="navigation" class="footernav nav navbar-nav">
          <li role="presentation">
            <a href="https://twitter.com/papers_we_love" title="@papers_we_love">
              <i class="fa fa-twitter-square fa-lg"></i>
            </a>
            <span class="footerItemLabel">Twitter</span>
          </li>
          <li role="presentation">
            <a href="http://papersweloveslack.herokuapp.com/" title="Slack">
              <i class="fa fa-slack fa-lg"></i>
            </a>
            <span class="footerItemLabel">Slack</span>
          </li>
          <li role="presentation">
            <a href="http://paperswelove.org" title="paperswelove.org">
              <i class="fa fa-file fa-lg"></i>
            </a>
            <span class="footerItemLabel">Web</span>
          </li>
          <li role="presentation">
            <a href="mailto:pwlconf@paperswelove.org" title="Send email">
              <i class="fa fa-envelope fa-lg"></i>
            </a>
            <span class="footerItemLabel">Email</span>
          </li>
          <li role="presentation">
            <a href="/2016" title="PWLConf 2016">
              PWLConf 2016
            </a>
          </li>
        </ul>
        <p class="navbar-text navbar-right">&copy; 2017 Papers We Love, all rights reserved</p>
      </div>
    </div>
  </nav>
</footer>
