<section class="articleFooterContent">
  <div class="footerRow">
    <div class="footerItem">
      <a href="https://twitter.com/papers_we_love" title="@papers_we_love"><i class="fa fa-twitter-square fa-lg"></i></a><span class="footerItemLabel">Twitter</span>
    </div>
    <div class="footerItem">
      <a href="http://papersweloveslack.herokuapp.com/" title="Slack"><i class="fa fa-slack fa-lg"></i></a><span class="footerItemLabel">Slack</span>
    </div>
    <div class="footerItem">
      <a href="http://paperswelove.org" title="paperswelove.org"><i class="fa fa-file fa-lg"></i></a><span class="footerItemLabel">Web</span>
    </div>
    <div class="footerItem">
      <a href="mailto:pwlconf@paperswelove.org" title="Send email"><i class="fa fa-envelope fa-lg"></i></a><span class="footerItemLabel">Email</span>
    </div>
    <div class="footerItem">
      <a href="/2016/"><h2>Papers We Love Conf 2016</h2></a>
    </div>
  </div>
</section>
