<section class="articleNavigation">
  <nav class="navRow">
    <a href="/" class="pwlConfLogo">
      <%= image_tag 'pwl-conf-2017.svg', :alt => "PWLConf 2017", :title => "Papers We Love Conference 2017", :class => "imgPwlConfNavLogo" %>
    </a>
    <a href="/" class="navLink">Home</a>
    <a href="/2017/about" class="navLink">About</a>
    <a href="/2017/sponsors" class="navLink">Sponsors</a>
    <a href="/2017/code-of-conduct" class="navLink">Code of Conduct</a>
    <a href="https://github.com/papers-we-love/pwlconf2016" class="navLink">Conference Repository</a>
  </nav>
</section>
