<section class="speakerContainer">
  <div class="speakerImage">
    <a href="/dahlia-malkhi">
      <%= image_tag 'speakers/DahliaMalkhi.png', :alt => "Dahlia Malkhi", :title => "Dahlia Malkji", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>Dahlia Malkhi</h1>
  <h2><a href="https://research.vmware.com/">VMware</a></h2>

  <% unless current_page.url == '/' %>
  <ul class="speakerLinks">
    <li><a href="https://dahliamalkhi.wordpress.com/">website</a></li>
  </ul>

  <h3>Foo bar and baz</h3>

  <p>Sed in erat at velit tempus lacinia eget quis tellus. Morbi mauris dui, feugiat sit amet imperdiet sed, cursus id ipsum. Etiam euismod tellus sollicitudin, malesuada purus sed, fermentum metus. Curabitur malesuada quis lacus vehicula cursus. Morbi sed risus ac velit ornare dignissim. Mauris est metus, tempor non nisi quis, vehicula volutpat diam. Donec semper neque urna, ultrices malesuada nisi scelerisque sit amet. Vestibulum at purus imperdiet, egestas nunc nec, fringilla dolor. Curabitur vestibulum a massa nec congue. In et elit bibendum leo lacinia feugiat. Vestibulum dapibus lobortis elit scelerisque fermentum. Phasellus vel urna quam. Aliquam mattis ut metus a interdum. Aliquam tristique nulla eu nunc volutpat, sed feugiat ex porta. Phasellus a mi id leo tristique fermentum ut a turpis.</p>

  <h3>Bio</h3>
  <p>Dahlia Malkhi is an applied and foundational researcher since the early nineties in broad aspects of reliability and security in distributed systems, working on large-scale systems infrastructure.</p>

  <p>Before VMware Research, from 2004-2014, Dahlia was a principal researcher at Microsoft Research, Silicon Valley. Prior to joining Microsoft Research, she was an associate professor at the Hebrew University of Jerusalem (1999-2007), left for a brief sabbatical, but was bitten by the Silicon Valley bug and stayed there. Dahlia holds a PhD, an M.Sc. and a B.Sc. in computer science from the Hebrew University of Jerusalem.</p>

  <p>Presently, Dahlia is passionate about <a href=" https://github.com/corfudb">Corfu</a>, a cloud scale consistency platform project she co-founded.</p>
  <% end %>
</section>
