<section class="speakerContainer">
  <div class="speakerImage">
    <a href="/dahlia-malkhi">
      <%= image_tag 'speakers/DahliaMalkhi.png', :alt => "Dahlia Malkhi", :title => "Dahlia Malkhi", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>Dahlia Malkhi</h1>
  <h2><a href="https://research.vmware.com/">VMware</a></h2>

  <% unless current_page.url == '/' %>
  <ul class="speakerLinks">
    <li><a href="https://dahliamalkhi.wordpress.com/">website</a></li>
  </ul>

  <h3>Bio</h3>
  <p>Dahlia Malkhi is an applied and foundational researcher since the early nineties in broad aspects of reliability and security in distributed systems, working on large-scale systems infrastructure.</p>

  <p>Before VMware Research, from 2004-2014, Dahlia was a principal researcher at Microsoft Research, Silicon Valley. Prior to joining Microsoft Research, she was an associate professor at the Hebrew University of Jerusalem (1999-2007), left for a brief sabbatical, but was bitten by the Silicon Valley bug and stayed there. Dahlia holds a PhD, an M.Sc. and a B.Sc. in computer science from the Hebrew University of Jerusalem.</p>

  <p>Presently, Dahlia is passionate about <a href=" https://github.com/corfudb">Corfu</a>, a cloud scale consistency platform project she co-founded.</p>
  <% end %>
</section>
