<section class="articleNavigation">
  <nav class="navRow">
    <a href="/">
      <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
    </a>
    <a href="/" class="navLink">Home</a>
    <a href="/about" class="navLink">About</a>
    <a href="/sponsors" class="navLink">Sponsors</a>
    <a href="/code-of-conduct" class="navLink">Code of Conduct</a>
  </nav>
</section>
