<section class="speakerContainer">
  <div class="speakerImage">
    <a href="/marius-watz">
      <%= image_tag 'speakers/MariusWatz.png', :alt => "Marius Watz", :title => "Marius Watz", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>Marius Watz</h1>
  <h2><a href="http://mariuswatz.com/">Artist</a></h2>

  <% unless current_page.url == '/' %>
  <ul class="speakerLinks">
    <li><a href="http://mariuswatz.com/">website</a></li>
    <li><a href="https://twitter.com/mariuswatz">@mariuswatz</a></li>
    <li><a href="https://www.instagram.com/nosuchfuture/">instagram</a></li>
    <li><a href="https://www.flickr.com/photos/watz">flickr</a></li>
  </ul>

  <h3>Bio</h3>
  <p>Marius Watz (NO) is an artist working with visual abstraction through generative software processes. His work focuses on the synthesis of form as the product of parametric behaviors. He is known for hard-edged geometrical forms and vivid colors, with outputs ranging from pure software works to public projections and physical objects produced with digital fabrication technology.</p>
  <p>Watz has exhibited at venues like the Victoria &amp; Albert Museum (London), Todaysart (The Hague), ITAU Cultural (Sao Paulo), Museumsquartier (Vienna), and Galleri ROM (Oslo). In a curating capacity, he founded Generator.x in 2005 as a platform for a series of events related to generative art and computational design. In 2010 he co-curated the exhibition <a href="http://node10.vvvv.org/pages/exhibition" title="abstrakt Abstrakt: The Systemized World">&#8220;abstrakt Abstrakt: The Systemized World&#8221;</a> with Eno Henze at the Frankfurter Kunstverein.</p>
  <p>In Fall 2013 Watz was an adjunct and resident researcher at <a href="itp.nyu.edu/itp">NYU ITP</a>, focusing on parametric form and digital fabrication. He is a visiting lecturer in Interaction Design at the Oslo School of Architecture and Design, regularly lecturing and teaching workshops at schools and art institutions around the world.</p>
  <p>He is currently based in New York and Oslo.</p>
  <% end %>
</section>
