<section class="speakerContainer">
  <div class="speakerImage">
    <a href="/nobuko-yoshida">
      <%= image_tag 'speakers/NobukoYoshida.png', :alt => "Nobuko Yoshida", :title => "Nobuko Yoshida", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>Nobuko Yoshida</h1>
  <h2><a href="http://mrg.doc.ic.ac.uk/">Imperial College, London</a></h2>

  <% unless current_page.url == '/' %>
    <ul class="speakerLinks">
      <li><a href="http://mrg.doc.ic.ac.uk/people/nobuko-yoshida/">Speaker's Site</a></li>
    </ul>

    <h3>Multiparty Session Types and their Applications to Concurrent and Distributed Systems</h3>
    <p>We present a summary of our recent papers on multiparty session types
      for verifying distributed, parallel and concurrent programs,
      illustrating how our theoretical work is grounded on collaborations
      with industry partners.</p>

    <p>We shall first explain the multiparty session types and then explain
      how we started collaborations with industry to design and implement a
      protocol description language called Scribble. We then talk about the
      recent developments in Scribble, the runtime session monitoring
      framework used in Ocean Observatories Initiative and network protocol
      verification. We also demonstrate how our multiparty session
      synthesis theory is applied to Zero Deviation Life Cycle project with
      Cognizant; and static deadlock analysis for Google's Go language.</p>

    <h3>Bio</h3>
    <p>Nobuko Yoshida is Professor of Computing. She has applied session types to Web services and programming languages, and introduced multiparty session types. Based on Multiparty session types, she established JBoss Red Hat Scribble project.</p>
    <p>She is an editor of Journal of Logical Algebraic Methods in Programming, the chief editor of The Computer-aided Verification and Concurrency Column for EATCS Bulletin, the editor of Acta Informatica and the editor of Mathematical Structures for Computer Science. She has served as a PC member for over 50 conferences in the past five years. She was regularly invited to give the invited lectures and the key note talks -- recent invited talks include 8th International Symposium on Trustworthy Global Computing (TGC 2013) at Buenos Aires and Joint 25th International Conference on Rewriting Techniques and Applications and 12th International Conference on Typed Lambda Calculi and Applications in 2014. She is a MC member of three COST actions, ARVI, BETTY and RC; also a member of IFIP 2.4 and the Red Hat Scribble Project. Her industry partners include Cognizant, Red Hat, ThoughtWorks and Amazon.</p>
  <% end %>
</section>
