---
title: About Papers We Love Conf
og_title: About Papers We Love Conf | Papers We Love Conference 2019
---
<%= partial '2019/partials/internalTopNav' %>
<div class="cb cf pa4 mb4 ph5-ns avenir max-width">
  <h1 class="f1">About Papers We Love Conf</h1>

  <div class="fl w-100 w-two-thirds-ns pv2">
    <div class="mb3 pv2 ph3 ph5-ns bg-light-yellow bl-ns bw4-ns b--gold">
      <h3 class="f3 tc lh-title">
        🎟 <a class="link underline dark-blue hover-bg-yellow" href="https://ti.to/strange-loop/2019">
        Tickets are on sale now, buy them here!
        </a>🎟
      </h3>
    </div>
    <p class="f4 lh-copy"><strong>Papers We Love</strong> began as a repository of academic computer science papers. It quickly morphed into an international series of monthly meetups. It flowered into a diverse community of computer enthusiasts interested in research as a hobby or applied to their daily work.</p>
    <p class="f4 lh-copy"><strong>Papers We Love Conference</strong> is a one day event to cross-pollinate ideas between academic research and industrial practice. We are very excited to be back in St. Louis as part of the Strangeloop Pre-Conf program for the fourth year in a row.</p>
  </div>
  <!-- Left column -->
  <div class="fl w-100 w-third-ns pv2">
    <div class="pl3 dn db-m db-l">
      <img src="/images/STL_1189.jpg" class="w-100" alt="Claire Le Goues speaking at podium">
      <p class="f5 lh-copy tr gray">Claire Le Goues, PWLConf 2016</p>
    </div>
  </div>
</div>
