---
title: Code of Conduct
og_title: Code of Conduct | Papers We Love Conference 2019
---
<%= partial '2019/partials/internalTopNav' %>
<div class="cb cf pa4 mb4 ph5-ns avenir max-width">
  <h1 class="f1">Code of Conduct</h1>

  <div class="fl w-100 w-two-thirds-ns pv2">
    <ul class="toc list pl0">
      <li class="f3 fw5 pb2"><a class="link underline dark-blue hover-bg-yellow" href="#what-it-means">What it means</a></li>
      <li class="f3 fw5 pb2"><a class="link underline dark-blue hover-bg-yellow" href="#spelling-it-out">Spelling it out</a></li>
      <li class="f3 fw5 pb2"><a class="link underline dark-blue hover-bg-yellow" href="#photo-policy">Photo policy</a></li>
      <li class="f3 fw5 pb2 db dn-m dn-l"><a class="link underline dark-blue hover-bg-yellow" href="#need-help">Need help?</a></li>
    </ul>

    <p class="f4 lh-copy">All attendees, speakers, exhibitors, organizers, contributors and volunteers are required to conform to the following Code of Conduct.</p>
    <p class="f4 lh-copy"><em>PWLConf</em> is for anyone interested in Computer Science/Computer Engineering, its history, and related fields to discuss academic research in a fun, engaging and respectful environment.</p>
    <p class="f4 lh-copy">We value the participation of each member of the community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference, related social events, and throughout all events and interactions on the GitHub repository, IRC, <a class="link underline dark-blue hover-bg-yellow" href="https://gitter.im/papers-we-love">gitter</a>, or <a class="link underline dark-blue hover-bg-yellow" href="https://paperswelove.slack.com/">Slack</a> channels, including obeying the conference policy on photography below.</p>

    <a name="what-it-means"></a><h3 class="f3 fw5 pt4" id="what-it-means">What it means</h3>
    <p class="f4 lh-copy">Papers We Love is dedicated to providing a harassment-free experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference attendees or other event participants in any form.</p>
    <p class="f4 lh-copy">All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate at the conference, including as part of talks or at related social gatherings.</p>
    <p class="f4 lh-copy">Be kind to others. Do not insult or put down other attendees. Behave professionally. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for Papers We Love.</p>
    <p class="f4 lh-copy">Attendees violating these rules may be asked to leave the conference at the sole discretion of the organizers, and will forfeit their ticket.</p>
    <p class="f4 lh-copy">Thank you for helping make this a welcoming, friendly event for all.</p>

    <a name="spelling-it-out"></a><h3 class="f3 fw5 pt4" id="spelling-it-out">Spelling it out</h3>
    <p class="f4 lh-copy">Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, age, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
    <p class="f4 lh-copy">Participants asked to stop any harassing behavior are expected to comply immediately.</p>
    <p class="f4 lh-copy">Contributors to the conference, event-related sites, and/or our interactive channels (Github repository, Slack, gitter, IRC), sponsors or similar, are also subject to the anti-harassment policy. Organizers (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>
    <p class="f4 lh-copy"><em>PWLConf</em> shares space with Strange Loop, and attendees are expected to follow their <a class="link underline dark-blue hover-bg-yellow" href="http://www.thestrangeloop.com/policies.html">policies</a> as well.</p>

    <a name="photo-policy"></a><h3 class="f3 fw5 pt4" id="photo-policy">Photo policy</h3>
    <p class="f4 lh-copy">Three colors of lanyards are provided. Green means it is okay for photographers to take pictures of you. Yellow means photographers should ask permission. Red means photos are not okay; please do not take photos of anyone wearing a red lanyard. All attendees, organizers, volunteers, sponsors, and speakers will have these lanyards available to them. If no lanyard is visible, yellow will be assumed. Official Papers We Love photographers will avoid taking any pictures of anyone wearing a red lanyard, and ask permission of anyone wearing a yellow lanyard.</p>
    <p class="f4 lh-copy">Since it is not possible to always correctly identify lanyards (including that sometimes people take them off), photos will not be published if there are red or yellow lanyards visible, or if it’s ambiguous as to someone’s preference. Do not publish identifiable photos of people wearing red lanyards or those wearing yellow lanyards from whom you did not receive permission. Follow the same rules for speakers: if their lanyard is visible, please abide by the preference expressed. If not visible, assume that pictures are not ok unless you've asked them.</p>
    <p class="f4 lh-copy">Anyone in a photograph published by <em>PWLConf</em> can ask to be made unidentifiable in that published photograph.</p>
    <p class="f4 lh-copy">Any attendee, organizer, volunteer, sponsor, or speaker who takes photos are asked to abide by this policy.</p>
  </div>

  <!-- Left Column -->
  <div class="fl w-100 w-third-ns pv2 pl4 avenir">
    <a name="need-help"></a>
    <h3 class="f3 fw5" id="need-help">Need help?</h3>
    <p class="f4 lh-copy">If you are experiencing harassment, witness an incident or have concerns about content please contact one or all of the conference organizers below:</p>

    <ul class="list pl0 f4">
      <li class="mb3">
        <strong class="db">Zeeshan Lakhani</strong>
        <a class="link underline dark-blue hover-bg-yellow" href="mailto:zeeshan@paperswelove.org">
          zeeshan@paperswelove.org
        </a> /
        <a class="link underline dark-blue hover-bg-yellow" href="https://twitter.com/zeeshanlakhani">
          @zeeshanlakhani
        </a>
      </li>
      <li class="mb3">
        <strong class="db">David Ashby</strong>
        <a class="link underline dark-blue hover-bg-yellow" href="mailto:david@paperswelove.org">
          david@paperswelove.org
        </a> /
        <a class="link underline dark-blue hover-bg-yellow" href="https://twitter.com/alazyreader">
          @alazyreader
        </a>
      </li>
      <li class="mb3">
        <strong class="db">Darren Newton</strong>
        <a class="link underline dark-blue hover-bg-yellow" href="mailto:darren@paperswelove.org">
          darren@paperswelove.org
        </a> /
        <a class="link underline dark-blue hover-bg-yellow" href="https://twitter.com/d_run">
          @d_run
        </a>
      </li>
    </ul>
  </div>
</div>
