---
title: Karim Ali, University of Alberta
description: "Is Program Analysis The Silver Bullet Against Software Bugs? with Karim Ali"
og_title: Karim Ali | Papers We Love Conference 2019
og_image: https://pwlconf.org/images/2019/karim-ali.jpg
og_image_type: 'image/jpeg'
og_height: 600
og_width: 600
og_image_alt: Photo of Karim Ali
---
<%= partial '2019/partials/internalTopNav' %>
<div class="cf ph4 ph5-ns pv3 pv5-ns mt1 mt2-ns avenir max-width">
  <header class="fn fl-ns w-100 w-third-ns pa2">
    <h1 class="f2 lh-title fw9 mb0 mt0 pt3 bt bw2">
      Karim Ali
    </h1>
    <h2 class="f3 lh-copy mb3 mt0 pt0">
      University of Alberta
    </h2>
    <img src="/images/2019/karim-ali.jpg" alt="photo of Karim Ali" class="db w-100 mv4"/>
  </header>
  <div class="fn fl-ns w-100 w-two-thirds-ns pa2 pl4-ns">
    <h2 class="f2 lh-subtitle mt0 pt0">Is Program Analysis The Silver Bullet Against Software Bugs?</h2>
    <p class="f4 lh-copy mt0-ns">
      Program analysis is the art of reasoning about the run-time behavior of a program without necessarily executing it. This information is useful for various real-life applications such as supporting software developers (e.g., bug-finding tools, code refactoring tools, and code recommenders) and compiler optimizations. Program analysis is also used to ensure complex software adheres to standards and regulations (e.g., medical devices, car industry, and aviation industry).
    </p>

    <p class="f4 lh-copy mt0-ns">
      In this talk, I will discuss the three main properties that enable program analyses to be useful in practice: scalability, precision, and usability. I will relate that to various papers that have been published in the field of program analysis, as well as some of the work that my group has done. I will conclude with where I see program analysis research going and the challenges that we aim to solve in the field.
    </p>

    <p class="mv4 p0 bt"></p>
    <p class="f4 lh-copy mt0-ns">
      Karim Ali is an Assistant Professor in the Department of Computing Science at the University of Alberta. His research interests are in programming languages and software engineering, particularly in scalability, precision, and usability of program analysis tools. His work ranges from developing new theories for scalable and precise program analyses to applications of program analysis in security and Just-in-Time compilers.
    </p>
    <p class="f4 lh-copy mt0-ns">
      Karim obtained his PhD degree from the University of Waterloo in 2014, and was a postdoctoral research at Technische Universität Darmstadt (TU Darmstadt) 2014–2016.
    </p>

    <ul class="list pl0 f4 lh-copy">
      <li>
        <strong>Twitter</strong>
        <a class="link underline dark-blue hover-bg-yellow" href="https://twitter.com/karimhamdanali">
          @karimhamdanali
        </a>
      </li>
      <li>
        <strong>Site:</strong>
        <a class="link underline dark-blue hover-bg-yellow" href="https://karimali.ca/">
          https://karimali.ca/
        </a>
      </li>
      <li>
        <strong>DBLP:</strong>
        <a class="link underline dark-blue hover-bg-yellow" href="https://dblp.org/pers/hd/a/Ali_0001:Karim">
          https://dblp.org/pers/hd/a/Ali_0001:Karim
        </a>
      </li>
    </ul>
  </div>
</div>
