---
title: Sponsor Prospectus
og_title: Sponsor Prospectus | Papers We Love Conference 2019
---
<%= partial '2019/partials/internalTopNav' %>
<div class="cb cf pa4 mb4 ph5-ns avenir max-width">
  <h1 class="f1">2019 Sponsor Prospectus</h1>
  <div class="fl w-100 w-two-thirds-ns pv2">
    <h2 class="f3 fw5">What is Papers We Love<sup class="f6">TM</sup> and PWLConf?</h2>
    <div class="mb3 pv2 ph3 ph5-ns bg-light-yellow bl-ns bw4-ns b--gold">
      <h3 class="f3 tc lh-title">
        🎟 &nbsp;<a class="link underline dark-blue hover-bg-yellow" href="/2019/tickets">
        Tickets are on sale now, buy them here!
        </a>&nbsp;🎟
      </h3>
    </div>
    <p class="f4 lh-copy"><a href="http://paperswelove.org/">Papers We Love</a> is an organization that brings academic research closer to practitioners through community building. Not only are we building bridges between academia and industry, we also bridge oceans, cultures, and disciplines. We are over 30 chapters Internationally, all sharing the same enthusiasm to learn from and connect with classical and contemporary research.</p>

    <p class="f4 lh-copy">Initiatives like our curated repository of papers, recorded talks, and an organization-wide (and conference) code of conduct are adopted and enjoyed by a growing base. Our mission is to bring ideas closer to the people who seek them.</p>

    <p class="f4 lh-copy">2019's PWLConf will be our fourth official Papers We Love Conference. Our previous conferences featured fantastic speakers from varying backgrounds, presenting on everything from designing network systems and bias in algorithm development to research techniques used in real-world gaming engines and software engineering research.</p>

    <h2 class="f3 fw5 pt4">Why should you consider sponsoring PWLConf?</h2>

    <p class="f4 lh-copy">The audience for PWLConf is a diverse amalgam of software and hardware engineers, industry professionals, professors, and students of various levels—just like those who attend our local chapters. We showcase the most interesting work at the intersection of industry and academia and discuss what’s next!</p>

    <p class="f4 lh-copy">We've put together a selection of sponsorship packages to suit different budgets and desired levels of visibility. We are happy to work with sponsors to come up with creative ideas beyond a standard package.</p>

    <p class="f4 lh-copy">If you’re interested in sponsoring and/or contributing in any way, please send an email to <a class="link underline dark-blue hover-bg-yellow" href="mailto:pwlconf-sponsors@paperswelove.org">pwlconf-sponsors@paperswelove.org</a>, via our <a class="link underline dark-blue hover-bg-yellow" href="https://paperswelove.slack.com/messages/general/">Slack channel</a> (<a class="link underline dark-blue hover-bg-yellow" href="http://papersweloveslack.herokuapp.com/">sign-up page</a>), or you can reach out to <a class="link underline dark-blue hover-bg-yellow" href="https://twitter.com/zeeshanlakhani">Zeeshan Lakhani</a> at (305) 563-4335 or <a class="link underline dark-blue hover-bg-yellow" href="https://twitter.com/cemerick">Chas Emerick</a> at (413) 341-0456 (EDT timezones) if you have questions, thoughts, ideas, or want to discuss a sponsorship further.</p>
  </div>

  <!-- Left column -->
  <div class="fl w-100 w-third-ns pv2 avenir">
    <div class="mt5 pl3 dn db-m db-l">
      <img src="/images/2019/roopsha-samanta-2018.jpg" class="w-100" alt="Roopsha Samanta speaking at PWLConf 2018">
      <p class="f5 lh-copy tr gray">Roopsha Samanta, PWLConf 2018</p>
    </div>
    <div class="pl3 dn db-m db-l">
      <img src="/images/2018/ron-trevor-at-table.jpg" class="w-100" alt="Ron Garcia registering for PWLConf">
      <p class="f5 lh-copy tr gray">Trevor Lalish-Menagh and Ron Garcia, PWLConf 2017</p>
    </div>
  </div>

  <div class="cb cf w-100">
    <h2 id="opportunities" class="f2 fw6 pt4">Sponsorship opportunities</h2>

    <!-- Platinum -->
    <div class="fl w-third-ns pr2  bt b--light-gray">
      <h4 class="f4">Platinum Sponsor / $10,000 <span class="normal db mt2">(2 Available)</span></h4>
      <p class="f5 lh-copy">Platinum sponsors receive top logo placement on the conf. stage, within the venue, homepage of conf. site, sponsor page summary, conference videos, mentions on the <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account and conference email. <strong>5 complimentary tickets.</strong></p>
    </div>

    <!-- Gold -->
    <div class="fl w-third-ns ph2 bt b--light-gray">
      <h4 class="f4">Gold Sponsor / $7,000 <span class="normal db mt2">(6 Available)</span></h4>
      <p class="f5 lh-copy">Gold sponsors get logo placement within the venue, on sponsor page of the conf. site and mentions on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>4 complimentary tickets.</strong></p>
    </div>

    <!-- Silver -->
    <div class="fl w-third-ns pl2 bt b--light-gray">
      <h4 class="f4">Silver Sponsor / $5,000 <span class="normal db mt2">(8 Available)</span></h4>
      <p class="f5 lh-copy">Silver sponsors get logo placement within the venue, on sponsor page of the conf. site, and mentions on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>3 complimentary tickets.</strong></p>
    </div>
  </div>
  <div class="cb cf w-100">
    <!-- Bronze -->
    <div class="fl w-third-ns pr2 bt b--light-gray">
      <h4 class="f4">Bronze Sponsor / $3,000 <span class="normal db mt2">(9 Available)</span></h4>
      <p class="f5 lh-copy">Bronze sponsors get logo placement on sponsor page of conf. and a mention on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>1 complimentary ticket.</strong></p>
    </div>

    <!-- Video -->
    <div class="fl w-third-ns ph2 bt b--light-gray">
      <h4 class="f4">Video Sponsor / $5,000 <span class="normal db mt2">(1 Available)</span></h4>
      <p class="f5 lh-copy">Video sponsors get logo placement on video descriptions, the conf. site and YouTube channel, end of video credits, and sponsor page of the conf. <strong>2 complimentary tickets.</strong></p>
    </div>

    <!-- Captioning -->
    <div class="fl w-third-ns pl2 bt b--light-gray">
      <h4 class="f4">Captioning Sponsor / $3,000 <span class="normal db mt2">(1 Available)</span></h4>
      <p class="f5 lh-copy">Caption sponsors get logo placement on video descriptions, the conf. site and YouTube channel, and sponsor page of the conf. <strong>1 complimentary ticket.</strong></p>
    </div>
  </div>
  <div class="cb cf w-100">
    <!-- Lunch -->
    <div class="fl w-third-ns pr2 bt b--light-gray">
      <h4 class="f4">Lunch Sponsor / $3,000 <span class="normal db mt2">(2 Available)</span></h4>
      <p class="f5 lh-copy">Lunch sponsors get logo placement on sponsor page of conf. and signage near lunch location. <strong>1 complimentary ticket.</strong></p>
    </div>

    <!-- Individual -->
    <div class="fl w-third-ns pl2 bt b--light-gray">
      <h4 class="f4">Individual Sponsor / $250 <span class="normal db mt2">(15 Available)</span></h4>
      <p class="f5 lh-copy">Individual sponsors get logo placement on the sponsor page of the conf. <strong>1 complimentary ticket.</strong></p>
    </div>
  </div>
</div>
