---
title: 2019 Sponsors
description: "2019 Sponsors: ACM, TwoSigma, Cerner, Droit, Insight, Comcast, Galois and Hashicorp"
og_title: Sponsors | Papers We Love Conference 2019
---
<%= partial '2019/partials/internalTopNav' %>
<%= partial '2019/partials/ticketBanner' %>

<div class="cb cf pa3 mb0 avenir max-width  bg-light-gray">
  <p class="f3 tc">
    Interested in sponsoring Papers We Love Conf 2019? <a class="link underline dark-blue hover-bg-yellow" href="/2019/prospectus">Check out our prospectus.</a>
  </p>
</div>

<div class="cb cf pa4 mb4 ph5-ns avenir max-width">
  <h1 class="f1">Silver Sponsors</h1>
</div>

<!-- ACM -->
<div class="cb cf pa0 mb4 ph4 ph5-ns avenir max-width">
  <div class="fl w-100 w-third-ns pv2">
    <a href="https://campus2.acm.org/public/qj/pwlconf/qjprofm_control.cfm?promo=pwlconf" Class="db link dim tc">
      <img src="/images/2019/acm.png" alt="logo for sponsor ACM" class="w-100 w-90-ns db"/>
    </a>
  </div>
  <!-- Left column -->
  <div class="fl w-100 w-two-thirds-ns pv2">
    <p class="f4 lh-copy pv0 mv0">
      <a href="https://campus2.acm.org/public/qj/pwlconf/qjprofm_control.cfm?promo=pwlconf" class="link underline dark-blue hover-bg-yellow">ACM, the Association for Computing Machinery</a>, is a global community of computing professionals and students. We see a world where computing helps solve tomorrow’s problems – where we use our knowledge and skills to advance the profession and make a positive social impact. At ACM, we help computing professionals to be their best and most creative, keep abreast of emerging trends and technologies, stay connected to their peers and make a positive impact on the profession and the world at large.
    </p>
  </div>
</div>

<!-- TwoSigma -->
<div class="cb cf pa0 mb4 ph4 ph5-ns avenir max-width">
  <div class="fl w-100 w-third-ns pv2">
    <a href="https://campus2.acm.org/public/qj/pwlconf/qjprofm_control.cfm?promo=pwlconf" Class="db link dim tc">
      <img src="/images/2019/twosigma.jpg" alt="logo for sponsor TwoSigma" class="w-100 w-90-ns db"/>
    </a>
  </div>
  <!-- Left column -->
  <div class="fl w-100 w-two-thirds-ns pv2">
    <p class="f4 lh-copy pv0 mb3">
      <a href="https://www.twosigma.com/careers/" class="link underline dark-blue hover-bg-yellow">We are a different kind of investment manager</a>. Since 2001, we have used data science and technology to derive insights that forecast the future and uncover value in markets worldwide.
    </p>
    <p class="f4 lh-copy pv0 mv0">
      Our team of scientists, technologists, and academics looks beyond the traditional to understand the bigger picture and develop creative solutions to some of the world’s most challenging economic problems. Our work spans across markets and industries, from insurance and securities to private investments and new ventures.
    </p>
  </div>
</div>

<div class="cb cf pa4 mb2 ph5-ns avenir max-width">
  <h2 class="f2">Bronze Sponsors</h2>
  <p class="mv4 p0 bt"></p>
</div>

<!-- Cerner -->
<div class="cb cf pa0 mb4 ph4 ph5-ns avenir max-width">
  <div class="fl w-100 w-third-ns pv2">
    <a href="https://engineering.cerner.com/" Class="db link dim tc">
      <img src="/images/2019/cerner.jpg" alt="logo for sponsor Cerner" class="w-100 w-90-ns db"/>
    </a>
  </div>
  <!-- Left column -->
  <div class="fl w-100 w-two-thirds-ns pv2">
    <p class="f4 lh-copy pv0 mb3">
      At <a href="https://engineering.cerner.com/" class="link underline dark-blue hover-bg-yellow">Cerner</a>, we love solving the hard problems that no one else wants to tackle. We embrace polyglot programming, distributed systems, and open source. We also know that it’s important to allow engineers to take a step back and try new things. That’s why we host periodic hackathons, meetups, tech talks, and an annual internal two-day developers conference in addition to attending, sponsoring, and speaking at industry conferences.
    </p>
  </div>
</div>

<!-- Droit -->
<div class="cb cf pa0 mb4 ph4 ph5-ns avenir max-width">
  <div class="fl w-100 w-third-ns pv2">
    <a href="https://droit.tech/" Class="db link dim tc">
      <img src="/images/2019/droit.png" alt="logo for sponsor Droit" class="w-70 w-60-ns"/>
    </a>
  </div>
  <!-- Left column -->
  <div class="fl w-100 w-two-thirds-ns pv2">
    <p class="f4 lh-copy pv0 mb3">
      At <a href="https://droit.tech/" class="link underline dark-blue hover-bg-yellow">Droit</a> is a technology firm at the forefront of computational law and intelligent decision-making. Our award-winning platform, Adept, provides mission-critical, low-latency services for the world’s most prominent and complex financial institutions. We thrive by creating new products that anticipate where the world is moving.
    </p>
  </div>
</div>

<!-- Insight -->
<div class="cb cf pa0 mb4 ph4 ph5-ns avenir max-width">
  <div class="fl w-100 w-third-ns pv2">
    <a href="https://www.icg360.com/" Class="db link dim tc">
      <img src="/images/2019/insight.svg" alt="logo for sponsor Insight Catastrophe Group" class="w-80 w-80-ns"/>
    </a>
  </div>
  <!-- Left column -->
  <div class="fl w-100 w-two-thirds-ns pv2">
    <p class="f4 lh-copy pv0 mb3">
      We are <a href="https://www.icg360.com/" class="link underline dark-blue hover-bg-yellow">Insight</a>, a modern insuretech provider. Our best-in-class (seriously) quote-to-bind platform distributes awesome insurance products better (more efficiently) than the competition.
    </p>
  </div>
</div>

<div class="cb cf pa4 mb2 ph5-ns avenir max-width">
  <h2 class="f2">Additional Sponsors</h2>
  <p class="mv4 p0 bt"></p>
</div>

<!-- Tertiary -->
<div class="cb cf ph3 mb6 avenir max-width">
  <div class="tc fl h4 w-100 w-third-m w-third-l pv2 mb4 mb0-ns">
    <a href="https://jobs.comcast.com/" class="db link dim tc">
      <img src="/images/2019/comcast.png" alt="logo for sponsor Comcast" class="w-80 w-60-ns"/>
    </a>
    <p class="f5 lh-copy pv0 mb3">
      <strong>Video sponsor</strong>
    </p>
  </div>
  <div class="tc fl h4 w-100 w-third-m w-third-l pa2 pt5 mb4 mb0-ns">
    <a href="https://www.hashicorp.com/jobs" class="db link dim tc">
      <img src="/images/2019/hashicorp.png" alt="logo for sponsor Hashicorp" class=w-80 "w-60-ns"/>
    </a>
    <p class="f5 lh-copy pv0 mb3">
      <strong>Lanyard sponsor</strong>
    </p>
  </div>
  <div class="tc fl h4 w-100 w-third-m w-third-l pa2 pt5 mb4 mb0-ns">
    <a href="https://galois.com/" class="db link dim tc">
      <img src="/images/2019/galois.svg" alt="logo for sponsor Galois" class="w-80 w-60-ns"/>
    </a>
    <p class="f5 lh-copy pv0 mb3">
      <strong>Speaker patron</strong>
    </p>
  </div>
</div>

<div class="cb cf ph3 mb6 avenir max-width">
  <div class="tc fl h4 w-100 pv2 mb4 mb0-ns">
    <p class="f4 lh-copy pv0 mb3">
      <strong>Cuyler Jones</strong>, Individual Patron
    </p>
  </div>
</div>
