<div class="bg-blue avenir">
  <div class="ph4 pt4 pt5-ns pb3 pl5-ns pr5-ns max-width">
    <a class="fl dib pa0 pr4" href="/">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg alt="PWLConf 2020" class="svg-icon-pwl-topnav" xmlns="http://www.w3.org/2000/svg" width="299" height="342.72" overflow="inherit" version="1.2" viewBox="17 19.142 299 342.715"><path fill="#B4D6E4" d="M20.5 21.75H313v293.5H20.5z"/><path d="M49 319.29v28.722l32.966-13.058L112.5 348.16v-29zm-9 0v-8.981l8.981-.019 63.5-.13 9.019-.02v51.717l-12.572-5.438-30.535-13.206 6.887.106-32.965 13.058L40 361.257z" fill="#ffffff"/><path d="M49 319.27v28.72l32.966-13.05 30.534 13.2v-29z" fill="#7f99b3"/><path d="M17 27.14l8-8v299l-8-8h299l-8 8v-299l8 8zm0-8h299v299H17z" fill="#ffffff"/><path d="M49 89.001c0 1.801 1.5 1.801 2.4 1.801h10.619c.9 0 2.4 0 2.4-1.801 0-1.859-1.439-1.859-2.4-1.859h-3.24v-11.04H69.88c8.521 0 14.82-5.16 14.82-10.979 0-5.82-6.3-10.98-14.82-10.98H51.4c-.961 0-2.4 0-2.4 1.86 0 1.8 1.5 1.8 2.4 1.8h3.24v29.34H51.4c-.961-.001-2.4-.001-2.4 1.858zm9.779-16.56v-14.64h10.08c6.66 0 11.701 3.42 11.701 7.32 0 3.899-5.101 7.319-11.701 7.319zm43.901-16.5c0 1.86 1.561 1.86 2.461 1.86h2.039l9.66 32.16c.66 1.32 1.98 1.32 3 1.32 1.68 0 2.58-.062 3.24-2.221l9.6-31.98 9.66 31.919c.54 1.86 1.02 2.281 3.24 2.281 1.32 0 2.641 0 3.24-2.041l9.42-31.439h2.039c.9 0 2.461 0 2.461-1.8 0-1.86-1.561-1.86-2.461-1.86h-8.1c-.959 0-2.459 0-2.459 1.86 0 1.8 1.619 1.8 2.459 1.8h2.521l-9.12 30.42-9.6-32.04c-.601-2.04-1.92-2.04-3.24-2.04-1.62 0-2.641 0-3.24 2.04l-9.66 32.04-9.119-30.42h2.52c.9 0 2.46 0 2.46-1.8 0-1.86-1.56-1.86-2.46-1.86h-8.1c-.901.002-2.461.002-2.461 1.801zM183 89.001c0 1.801 1.5 1.801 2.4 1.801h28.26c1.979 0 2.398-.54 2.398-2.46v-5.341c0-1.199 0-2.459-2.039-2.459-2.101 0-2.101 1.199-2.101 2.459v4.141h-19.14v-29.34h4.681c.899 0 2.399 0 2.399-1.8 0-1.86-1.439-1.86-2.399-1.86H185.4c-.961 0-2.4 0-2.4 1.86 0 1.8 1.5 1.8 2.4 1.8h3.238v29.34H185.4c-.961 0-2.4 0-2.4 1.859zm-133.28 47.44c0 10.021 8.76 19.021 21.119 19.021 10.801 0 17.34-4.62 17.34-10.74 0-1.98-1.439-1.98-2.1-1.98-.6 0-1.92 0-2.04 1.74-.12 1.44-.3 3.721-4.261 5.641-2.279 1.14-5.639 1.68-8.52 1.68-10.14 0-17.4-7.26-17.4-15.36s7.381-15.3 17.281-15.3c3.18 0 6.239.78 8.399 2.04 3.601 2.101 4.14 4.5 4.56 6.18.301 1.38 1.44 1.38 1.98 1.38 2.1 0 2.1-1.26 2.1-2.459v-8.341c0-.96 0-2.46-1.8-2.46-1.14 0-1.44.6-1.86 1.5-.539.9-.539 1.02-1.08 2.221-2.459-1.92-6.959-3.721-12.719-3.721-12.06-.002-20.999 8.878-20.999 18.958zm65.479 0c0 10.38 9.239 19.021 21 19.021 11.88 0 21-8.82 21-18.961 0-10.379-9.24-19.02-21-19.02-11.88 0-21 8.821-21 18.96zm4.14-.659c0-7.98 7.439-14.641 16.86-14.641 9.42 0 16.86 6.66 16.86 14.641 0 8.699-7.44 16.02-16.86 16.02-9.479 0-16.86-7.38-16.86-16.02zm64.519 17.219c0 1.801 1.5 1.801 2.399 1.801h9.842c.899 0 2.399 0 2.399-1.801 0-1.859-1.44-1.859-2.399-1.859h-3.24v-29.939h.061l18.12 31.56c1.2 2.04 2.521 2.04 3.78 2.04 1.92 0 2.459-.36 2.459-2.46v-30.54h3.24c.899 0 2.399 0 2.399-1.801 0-1.859-1.438-1.859-2.399-1.859h-9.84c-.961 0-2.4 0-2.4 1.859 0 1.801 1.5 1.801 2.4 1.801h3.239v29.939h-.06l-18.121-31.56c-1.199-2.04-2.521-2.04-3.779-2.04h-5.7c-.96 0-2.399 0-2.399 1.859 0 1.801 1.5 1.801 2.399 1.801h3.24v29.34h-3.24c-.959 0-2.4 0-2.4 1.859zm65.061 0c0 1.801 1.5 1.801 2.4 1.801h12.06c.899 0 2.399 0 2.399-1.801 0-1.859-1.439-1.859-2.399-1.859h-4.68v-12.84h11.579c0 2.46 0 3.42 2.101 3.42 2.04 0 2.04-1.32 2.04-2.46v-5.58c0-1.14 0-2.46-2.04-2.46-2.101 0-2.101.96-2.101 3.42h-11.579v-12.84h20.88v3.18c0 1.141 0 2.46 2.04 2.46 2.101 0 2.101-1.26 2.101-2.46v-4.38c0-1.86-.359-2.46-2.4-2.46h-30c-.959 0-2.399 0-2.399 1.859 0 1.801 1.5 1.801 2.399 1.801h3.24v29.34h-3.24c-.962 0-2.401 0-2.401 1.859zm-199.56 127.94c0 1.859 1.5 1.859 2.461 1.859h20.34c1.98 0 2.4-.54 2.4-2.46v-1.56c0-1.141 0-2.461-2.041-2.461-2.1 0-2.1 1.141-2.1 2.82H56.14c3.539-3.062 9.299-7.562 11.879-9.961 3.78-3.359 6.541-7.199 6.541-12 0-7.199-6.061-11.699-13.381-11.699-7.08 0-11.82 4.92-11.82 10.02 0 2.221 1.681 2.881 2.701 2.881 1.26 0 2.64-1.02 2.64-2.699 0-.721-.3-1.5-.841-1.921.9-2.761 3.721-4.62 7.021-4.62 4.92 0 9.54 2.76 9.54 8.041 0 4.199-2.939 7.68-6.9 10.979l-13.26 11.16c-.539.482-.901.782-.901 1.621zm65.381-16.5c0 4.021 0 19.021 12.72 19.021s12.72-15 12.72-18.961c0-4.021 0-19.021-12.72-19.021s-12.72 15-12.72 18.961zm4.14-.541c0-3.299 0-14.76 8.58-14.76s8.58 11.461 8.58 14.76c0 3.181 0 15.9-8.58 15.9s-8.58-12.719-8.58-15.9z" fill="#ffffff"/><path style="line-height:1.25;-inkscape-font-specification:'CMU Typewriter Text Medium'" d="M179.737 280.998q0-.868.928-1.677l13.566-11.41q7.068-5.9 7.038-11.2 0-3.864-2.845-6.05t-6.888-2.186q-2.516 0-4.522 1.287-1.977 1.288-2.665 3.444.868.69.868 1.947 0 1.228-.838 2.006-.839.75-1.857.75-.988 0-1.887-.69-.898-.718-.898-2.246 0-4.043 3.414-7.127 3.414-3.115 8.685-3.115 5.78 0 9.733 3.294 3.953 3.265 3.953 8.685 0 6.32-6.709 12.249-1.467 1.348-6.079 5.151-4.582 3.803-6.05 5.031h14.585q0-1.108.06-1.557.06-.48.54-.899.508-.419 1.556-.419 1.408 0 1.737.66.36.628.36 1.856v1.587q0 1.468-.51 2.007-.478.509-1.946.509h-20.814q-2.515 0-2.515-1.887z" font-weight="500" font-size="61.33333206px" font-family="CMU Typewriter Text" letter-spacing="0.13px" word-spacing="0.04px" fill="#ffffff"/><path style="line-height:1.25" d="M244.425 264.107q0-8.205 3.863-13.776 3.863-5.6 9.164-5.6 5.211 0 9.104 5.57 3.893 5.54 3.893 13.866 0 8.206-3.863 13.806t-9.134 5.6q-5.21 0-9.134-5.54-3.893-5.57-3.893-13.926zm4.252-.599q0 6.739 2.576 11.53 2.575 4.792 6.17 4.792 3.623 0 6.198-4.792 2.576-4.791 2.576-11.53 0-6.558-2.636-10.78-2.635-4.253-6.139-4.253-3.474 0-6.11 4.282-2.635 4.253-2.635 10.751z" font-family="sans-serif" letter-spacing="0.13px" word-spacing="0.04px" fill="#ffffff"/></svg>
    </a>
    <h1 class="fl mt3 mb2 f2-ns washed-blue dn db-l db-m">
      Papers We Love Conf <span class="normal">2020</span>
    </h1>
    <h2 class="f4 pt2 pt0-ns measure normal lightest-blue">
      October 1, 2020 / St. Louis, Missouri
    </h2>
  </div>
</div>
<div class="bg-blue avenir">
  <div class="cb pt4 pb3 ph4 ph5-ns max-width">
    <div class="cf">
      <div class="fl w-100 w-25-ns pa2">
        <div class="bt b--washed-blue">
          <a href="/" class="db pv3 link washed-blue dim f4 lh-copy">
            Home
          </a>
        </div>
      </div>
      <div class="fl w-100 w-25-ns pa2">
        <div class="bt b--washed-blue">
          <a href="/2019/code-of-conduct" class="db pv3 link washed-blue dim f4 lh-copy">
            Code of Conduct
          </a>
        </div>
      </div>
      <div class="fl w-100 w-25-ns pa2">
        <div class="bt b--washed-blue">
          <a href="/2019/about" class="db pv3 link washed-blue dim f4 lh-copy">
            About
          </a>
        </div>
      </div>
      <!-- <div class="fl w-100 w-25-ns pa2">
           <div class="bt b--washed-blue">
           <a href="/2019/sponsors" class="db pv3 link washed-blue dim f4 lh-copy">
           Sponsors
           </a>
           </div>
           </div> -->
    </div>
  </div>
</div>
