<section class="speakerContainer">
  <div class="speakerImage">
    <a href="2016/dahlia-malkhi">
      <%= image_tag 'speakers/DahliaMalkhi.png', :alt => "Dahlia Malkhi", :title => "Dahlia Malkhi", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>Dahlia Malkhi</h1>
  <h2><a href="https://research.vmware.com/">VMware Research</a></h2>

  <% unless current_page.url == '/2016/' %>
  <ul class="speakerLinks">
    <li><a href="https://dahliamalkhi.wordpress.com/">website</a></li>
  </ul>

  <section class="articleVideoContent">
    <iframe src="https://www.youtube.com/embed/Gxf5glthqrk" frameborder="0" allowfullscreen></iframe>
  </section>

  <script async class="speakerdeck-embed" data-id="c1c33de400a44e90911569ce999bde95" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

  <h3>Randomized Gossip Methods</h3>
  <p>A family of network protocols are built around the following "random phone call" framework:</p>
  <blockquote>
    <p>In a round, each player selects a communication partner
      among its network neighbors uniformly at random and "calls" it;
      the two players now connect in a protocol-specific exchange.</p>
  </blockquote>

  <p>The talk will touch on three protocols from this family and relate them to each other:</p>
  <p>The first, Rumor Mongering, spreads gossip in each call. This protocol was invented
  at Xerox PARC for the purpose of synchronizing replicas in the
    Clearinghouse directory service.</p>
  <p>The second, Name Dropper, pushes new neighbors in each call. This protocol was developed at Akamai for network discovery in a partially connected network.</p>
  <p>The third, SWIM, pulls a heartbeat in each call. This mechanism was developed at Cornell University in order
    to implement scalable failure detection.</p>

  <h3>Referenced Papers</h3>
  <ul class="referencedPapers">
    <li>
      <a href="https://www.cis.upenn.edu/~bcpierce/courses/dd/papers/demers-epidemic.pdf">
        Epidemic algorithms for replicated database maintenance
      </a>
    </li>
    <li>
      <a href="http://www.cs.cmu.edu/~harchol/Papers/discovery.ps">
        Resource Discovery in Distributed Networks
      </a>
    </li>
    <li>
      <a href="http://zoo.cs.yale.edu/classes/cs426/2013/bib/karp00randomized.pdf">
        Randomized Rumor Spreading
      </a>
    </li>
    <li>
      <a href="https://www.cs.cornell.edu/~asdas/research/dsn02-swim.pdf">
        SWIM: Scalable Weakly-consistent Infection-style Process Group Membership
Protocol
      </a>
    </li>
  </ul>

  <img src="/images/STL_0955.jpg" alt="Dahlia Malkhi" />
  <div class="photoCaption">Photo credit: <a href="https://twitter.com/michaelbridge">Mike Bridge</a></div>

  <h3>Bio</h3>
  <p>Dahlia Malkhi is an applied and foundational researcher since the early nineties in broad aspects of reliability and security in distributed systems, working on large-scale systems infrastructure.</p>

  <p>Before VMware Research, from 2004-2014, Dahlia was a principal researcher at Microsoft Research, Silicon Valley. Prior to joining Microsoft Research, she was an associate professor at the Hebrew University of Jerusalem (1999-2007), left for a brief sabbatical, but was bitten by the Silicon Valley bug and stayed there. Dahlia holds a PhD, an M.Sc. and a B.Sc. in computer science from the Hebrew University of Jerusalem.</p>

  <p>Presently, Dahlia is passionate about <a href=" https://github.com/corfudb">Corfu</a>, a cloud scale consistency platform project she co-founded.</p>
  <% end %>
</section>
