<section class="articleFooterContent">
  <div class="footerRow">
    <div class="footerItem">
      <h2>Web</h2>
      <a href="http://paperswelove.org">paperswelove.org</a>
    </div>
    <div class="footerItem">
      <h2>Twitter</h2>
      <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
    </div>
    <div class="footerItem">
      <h2>Email</h2>
      <a href="mailto:pwlconf@paperswelove.org">pwlconf@paperswelove.org</a>
    </div>
  </div>
</section>
