<section class="articleNavigation">
  <nav class="navRow">
    <a href="/" class="pwlConfLogo">
      <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
    </a>
    <a href="/2016" class="navLink">Home</a>
    <a href="/2016/about" class="navLink">About</a>
    <a href="/2016/sponsors" class="navLink">Sponsors</a>
    <a href="/2016/code-of-conduct" class="navLink">Code of Conduct</a>
    <a href="https://github.com/papers-we-love/pwlconf2016" class="navLink">Conference Repository</a>
  </nav>
</section>
