<section class="speakerContainer">
  <div class="speakerImage">
    <a href="2016/marius-watz">
      <%= image_tag 'speakers/MariusWatz.png', :alt => "Marius Watz", :title => "Marius Watz", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>Marius Watz</h1>
  <h2><a href="http://mariuswatz.com/">Artist</a></h2>

  <% unless current_page.url == '/2016/' %>
  <ul class="speakerLinks">
    <li><a href="http://mariuswatz.com/">website</a></li>
    <li><a href="https://twitter.com/mariuswatz">@mariuswatz</a></li>
    <li><a href="https://www.instagram.com/nosuchfuture/">instagram</a></li>
    <li><a href="https://www.flickr.com/photos/watz">flickr</a></li>
  </ul>

  <section class="articleVideoContent">
    <iframe src="https://www.youtube.com/embed/hZhHo3DHCZE" frameborder="0" allowfullscreen></iframe>
  </section>

  <script async class="speakerdeck-embed" data-id="c5962c898a8240aba9f125178f0e4366" data-ratio="1.77777777777778" src="//speakerdeck.com/assets/embed.js"></script>

  <h3>Abuse Of An Algorithm Comes As No Surprise <a href="#fn-1"><sup>1</sup></a></h3>

  <p>In this talk, we will examine the roots and realities of what has come to be known by the awkward label <em>creative code</em> <a href="#fn-2"><sup>2</sup></a>. In reality, this bland terms covers a wide range of creative practices, all based on the use of code and algorithms as both pragmatic tools and creative materials in their own right. From generative visuals based on math, to custom data visualizations and architectural designs articulated as parametric systems, the description of aesthetic ideas as software systems has enabled a new creative paradigm based on computation.</p>

  <p>But no new paradigm is without its birth pains. The encoding of human creativity into machine readable code is hardly a trivial task, potentially restricting expression as much as it enables creation. Even more insidious is the seductiveness of certain algorithms, producing compelling forms with a minimum of creative input. Creatives are no less prone to God Complex than your average computer scientist, with the added layer of being guilty of cliché. What are the critical criteria that one might apply to a software system, anyway?</p>

  <p>An informal survey of current trends, concerns and facepalms, this presentation will discuss possible critiques of creative code. Through examples I will demonstrate the power of computation as a creative tool, along with some of the pitfalls that come with it. Finally, I will discuss my subjective suggestions for some best practices when creating with algorithms.</p>g

  <p>This talk follows up ideas from a controversial 2012 blog post titled "<a href="http://mariuswatz.com/mwatztumblrcom/the-algorithm-thought-police.html">The Algorithm Thought Police</a>", followed up in at <a href="https://vimeo.com/46903693">a talk at the Eyeo Festival</a> in Minneapolis the same year</p>

  <ol class="footnotes">
    <li>
      <a name="fn-1"></a><p><a href="http://www.spencerart.ku.edu/exhibitions/radicalism/holzer.shtml"><em>Abuse Of Power Comes As No Surprise</em></a> is arguably the most famous truism by the artist <a href="https://en.wikipedia.org/wiki/Jenny_Holzer">Jenny Holzer</a>.</p>
    </li>

    <li>
      <a name="fn-2"></a><p>There have been many attempts at labeling code-based creative practices. John Maeda coined "computational design" at MIT in the mid 1990's, a term that was both dignified and broad in scope, but sadly it did not stick. Generative (or algorithmic) art/design saw some traction for a while, but quickly became synonymous with a certain visual style rather than a conceptual approach.</p>
      <p>Creative code (and its companion, creative tech) was coined in the context of advertising, interaction design and UX fields. As a phrase, it is avoids sounding too technical and has helped to mainstream the ideas it represents. But it is not in fact universal, for instance it is unlikely to be used by architects, who will prefer "parametric architecture".</p>
    </li>
  </ol>

  <img src="/images/STL_1113.jpg" alt="Marius Watz" />
  <div class="photoCaption">Photo credit: <a href="https://twitter.com/michaelbridge">Mike Bridge</a></div>

  <h3>Referenced Materials</h3>
  <ul class="referencedPapers">
    <li>
      <a href="http://mariuswatz.com/mwatztumblrcom/the-algorithm-thought-police.html">The Algorithm Thought Police</a>
    </li>
    <li>
      <a href="http://n-e-r-v-o-u-s.com/blog/?p=2262">RE: The Algorithm Thought Police</a>
    </li>
    <li>
      <a href="https://vimeo.com/46903693">Algorithm Critique and Computational Aesthetics</a>
    </li>
    <li>
      <a href="http://www.pi6.fernuni-hagen.de/downloads/publ/tr198.pdf">Voronoi Diagrams</a>
    </li>
  </ul>

  <h3>Bio</h3>
  <p>Marius Watz (NO) is an artist working with visual abstraction through generative software processes. His work focuses on the synthesis of form as the product of parametric behaviors. He is known for hard-edged geometrical forms and vivid colors, with outputs ranging from pure software works to public projections and physical objects produced with digital fabrication technology.</p>
  <p>Watz has exhibited at venues like the Victoria &amp; Albert Museum (London), Todaysart (The Hague), ITAU Cultural (Sao Paulo), Museumsquartier (Vienna), and Galleri ROM (Oslo). In a curating capacity, he founded Generator.x in 2005 as a platform for a series of events related to generative art and computational design. In 2010 he co-curated the exhibition <a href="http://node10.vvvv.org/pages/exhibition" title="abstrakt Abstrakt: The Systemized World">&#8220;abstrakt Abstrakt: The Systemized World&#8221;</a> with Eno Henze at the Frankfurter Kunstverein.</p>
  <p>In Fall 2013 Watz was an adjunct and resident researcher at <a href="https://itp.nyu.edu/itp">NYU ITP</a>, focusing on parametric form and digital fabrication. He is a visiting lecturer in Interaction Design at the Oslo School of Architecture and Design, regularly lecturing and teaching workshops at schools and art institutions around the world.</p>
  <p>He is currently based in New York and Oslo.</p>
  <% end %>
</section>
