<section class="speakerContainer">
  <div class="speakerImage">
    <a href="/">
      <%= image_tag 'speakers/tbd.png', :alt => "TBD", :title => "Speaker TBD", :class => "imgSpeaker" %>
    </a>
  </div>
  <h1>TBD</h1>
  <h2>This could be you!</h2>

  <% unless current_page.url == '/' %>
  <% end %>
</section>
