---
title: Chas Emerick
description: Programming data for display, the PDF Story
og_title: Chas Emerick | PWLConf 2017 Speaker
og_image: https://pwlconf.org/images/2017/chas_emerick_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Chas Emerick" src="/images/2017/chas_emerick_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Chas Emerick</h1>
      <h2><a href="https://www.pdfdata.io/">PDFDATA.io</a></h2>
    </div>
    <div class="speaker-text">
      <h3>Programming data for display, the PDF Story</h3>
      <p>As lovers of research and academic papers, we are in intimate contact with PDF documents on a daily basis. Further, PDF documents are used extensively in other publishing contexts, and are in many industries and roles the primary means of data interchange between organizations. Despite its ubiquity and the concordant importance of its file format and specification, the heritage and history of the PDF format and specification are not widely known and the engineering challenges and design choices it and its predecessors faced and made are rarely contemplated.</p>

      <p>In this talk, Chas will provide a narrative history of PDF and its (immediate) predecessors — PostScript and Interpress — and explore the problem space of page description languages in general. Since these technologies were largely developed and promulgated from within commercial organizations, there are no papers per se to love, but Chas' narrative will be grounded in internally-published whitepapers that motivated the work, as well as decades-old public newsgroup postings from people involved at the time. The session will conclude with a brief tour through some of the internals of a couple of sample PDF documents, tying their concrete manifestation to the previously-discussed engineering challenges and design choices of the PDF specification.</p>

      <h3 id="references-specifying-the-order-here-">References</h3>
      <ul>
        <li><a href="http://bit.ly/2hzPHoK">PostScript and Interpress: a comparison</a> by Reid, Brian (Newsgroup posting, March 1985)</li>
        <li><a href="https://blogs.adobe.com/acrobat/files/2013/09/Camelot.pdf">The Camelot Project</a> by Warnock, John. 1981</li>
      </ul>

      <h3>Biography</h3>
      <p><a href="http://cemerick.com/">Chas Emerick</a> is the founder of <a href="https://www.pdfdata.io/">PDFDATA.io</a>, the API for structured data extraction, where he is continuing a now 15-year-long history of building tools to usefully recover data from PDF documents. His other technical interests include distributed systems and programming language theory suited for liberatory and intergalactic computing.</p>
    </div>
  </section>
</article>
