---
title: Elaine Chew
description: Professor, Computer Scientist, Musician
og_title: Elaine Chew | PWLConf 2017 Speaker
og_image: https://pwlconf.org/images/2017/elaine_chew_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Elaine Chew" src="/images/2017/elaine_chew_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Elaine Chew</h1>
      <h2>Professor of Digital Media, Centre for Digital Music,<br />
        School of Electronic Engineering and Computer Science<br />
        Queen Mary University of London
      </h2>
    </div>
    <div class="speaker-text">
      <h3>Decoding the Sensuality in Music</h3>
      <p>From uncontrollable guffaws to bittersweet heartache, music evokes sensations that result in pleasurable and memorable experiences. How do performers and composers manipulate musical parameters to pique the senses? What are the tricks of the trade, and can computers help us decode them? We will review a series of papers that take us from the computer visualizations of the humor devices of <a href="https://en.wikipedia.org/wiki/P._D._Q._Bach">PDQ Bach</a> through cathartic tipping points (musical thresholds) to modulating tension profiles that are used to constrain machines to generate music with narrative.</p>

      <h3>References</h3>
      <ul>
        <li><a href="http://theconversation.com/how-maths-helps-us-understand-why-music-moves-people-74876">How maths helps us understand why music moves people</a> by Elaine Chew</li>
        <li><a href="https://pdfs.semanticscholar.org/cc14/e330a649d614175d6f9c9597a92f5dd699b3.pdf">Visible Humour − Seeing P.D.Q. Bach’s Musical Humour Devices in The Short-Tempered Clavier on the Spiral Array Space</a> by Elaine Chew and Alexandre François</li>
        <li><a href="http://bit.ly/2w6ogVl">Playing with the Edge: Tipping Points and the Role of Tonality</a> by Elaine Chew</li>
        <li><a href="http://tenor2016.tenor-conference.org/papers/02_Herremans_tenor2016.pdf">Tension Ribbons: Quantifying and Visualising Tonal Tension</a> by Dorien Herremans and Elaine Chew</li>
        <li><a href="http://dorienherremans.com/sites/default/files/herremans2017morpheusFullIEEE_0.pdf">MorpheuS: generating structured music with constrained patterns and tension</a> by Dorien Herremans and Elaine Che</li>
      </ul>

      <h3>Biography</h3>
      <p><a href="http://www.eecs.qmul.ac.uk/~eniale/">Elaine Chew</a> is Professor of Digital Media at Queen Mary University of London's School of Electronic Engineering and Computer Science, where she is affiliated with the Centre for Digital Music and serves as its Director of Music Initiatives and co-Lead of the Cognition, Creativity, and Expression research theme. Her scientific research centers on the design of mathematical and computational tools to model, analyze, visualize, and manipulate music structures.</p>

      <p>Before joining QMUL in Fall 2011, she taught at the Viterbi School of Engineering at the University of Southern California in Los Angeles, first as an Assistant Professor, then a tenured Associate Professor, from 2001 to 2011. At USC, she founded and directed research at the Music Computation and Cognition Laboratory, was the inaugural honoree of the Viterbi Early Career Chair, and held a joint appointment in the Thornton School of Music. She has also held visiting appointments at Harvard's School of Engineering and Applied Sciences and Music Department (2008-2009) and at Lehigh University (2000-2001), and was Affiliated Artist of Music and Theater Arts at MIT (1998-2000).</p>
    </div>
  </section>
</article>
