---
title: Fabienne Serriere
description: Fabienne Serriere
og_title: Fabienne Serriere | PWLConf 2017 Speaker
og_image: http://pwlconf.org/images/2017/fabienne_serriere_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Fabienne Serriere" src="/images/2017/fabienne_serriere_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Fabienne Serriere</h1>
      <h2>KnitYak</h2>
    </div>
    <div class="speaker-text">
      <h3>Biography</h3>
      <p><a href="http://fabienne.us">Fabienne "fbz" Serrière</a> (<a href="https://twitter.com/fbz">@fbz</a>) is an American-French hardware hacker, reverse engineer and unix sysadmin (specialized in datacenter monitoring and storage clusters). For five years she open sourced hardware and software for vintage consumer knitting machines and recently crowdfunded a modern industrial knitting machine and started a company called <a href="https://www.kickstarter.com/projects/fbz/knityak-custom-mathematical-knit-scarves">KnitYak</a>. She generates patterns using mathematical algorithms so no two items are the same. Some of her interests include ham radio (she is K7FP), vintage hardware, edible plant gardening, language learning (spoken and computer), and spaaaaaaace. She dreams of becoming an astronaut and living out her days on Mars.</p>
    </div>
  </section>
</article>
