---
title: Fabienne Serrière
description: Hardware hacker, sysadmin, textile designer
og_title: Fabienne Serriére | PWLConf 2017 Speaker
og_image: http://pwlconf.org/images/2017/fabienne_serriere_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Fabienne Serriére" src="/images/2017/fabienne_serriere_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Fabienne Serrière</h1>
      <h2>KnitYak</h2>
    </div>
    <div class="speaker-text">
      <h3>Knittable Seashells</h3>
      <p>Fabienne Serrière will speak about the algorithms from <a href="http://www.cell.com/current-biology/pdf/S0960-9822(16)30364-5.pdf">Hans Meinhardt's</a> book: <a href="http://www.springer.com/us/book/9783662036174">The Algorithmic Beauty of Sea Shells</a>. Her specific obsession with the book was driven by translating the algorithms into something knittable, specifically making sure the outputs line up properly with knit stitches within a very low resolution pixel environment, which is what knitting is. (Her industrial knitting machine makes scarves at about 100 stitches/pixels wide, 1100 stitches/pixels long.) She'll delve into controlling very low resolutions with discrete algorithms while generating pleasing outputs. Using rewritten examples from modern scripting languages, Fabienne will also demonstrate the seashell pattern modeling algorithms. Finally, she'll dive into the <i>knittability of the imagery</i> with practical examples which have been manufactured on her own industrial knitting machine.</p>

      <h3 id="references-specifying-the-order-here-">References</h3>
      <ul>
        <li><a href="https://www.amazon.com/Algorithmic-Beauty-Shells-Virtual-Laboratory/dp/3540921419">The Algorithmic Beauty of Seashells</a> by Hans Meinhardt</li>
        <li><a href="http://algorithmicbotany.org/papers/shells.sig92.pdf">Modeling seashells</a> by D. Fowler, H. Meinhardt, and P. Prusinkiewicz</li>
        <li><a href="http://www.pnas.org/content/106/16/6837.full">The neural origins of shell structure and pattern in aquatic mollusks</a> by A. Boettigera, B. Ermentroutb, and G. Ostera</li>
        <li><a href="http://www.sciencedirect.com/science/article/pii/S0022519369800603">Computer simulation of a Mulluscan pigmentation pattern</a> by C.H. Waddington and R.J. Cowe</li>
        <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.477.439&rep=rep1&type=pdf">Pattern formation by local self-activation and lateral inhibition</a> by H. Meinhardt and A. Gierer</li>
        <li><a href="http://people.tamu.edu/~ergun/hyperseeing/2017/06/FASE/2.pdf">3D Modelling Seashells</a> by F. De Comitè</li>
      </ul>

      <h3>Biography</h3>
      <p><a href="http://fabienne.us">Fabienne "fbz" Serrière</a> (<a href="https://twitter.com/fbz">@fbz</a>) is an American-French hardware hacker, reverse engineer and unix sysadmin (specialized in datacenter monitoring and storage clusters). For five years she open sourced hardware and software for vintage consumer knitting machines and recently crowdfunded a modern industrial knitting machine and started a company called <a href="https://www.kickstarter.com/projects/fbz/knityak-custom-mathematical-knit-scarves">KnitYak</a>. She generates patterns using mathematical algorithms so no two items are the same. Some of her interests include ham radio (she is K7FP), vintage hardware, edible plant gardening, language learning (spoken and computer), and spaaaaaaace. She dreams of becoming an astronaut and living out her days on Mars.</p>
    </div>
  </section>
</article>
