---
title: Heather Miller
description: Scala contributor, Research scientist, Asst. Clinical Professor and Educator
og_title: Heather Miller | PWLConf 2017 Speaker
og_image: https://pwlconf.org/images/2017/heather_miller_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Fabienne Serriére" src="/images/2017/heather_miller_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Heather Miller</h1>
      <h2>
        Executive Director, Scala Center at École polytechnique fédérale de Lausanne<br />
        Assistant Clinical Professor, Northeastern University
      </h2>
    </div>
    <div class="speaker-text">
      <h3>What happened to distributed programming languages?</h3>
      <p>Nowadays, most programs we write are in <em>some sense</em> distributed&mdash;making HTTP requests or serving responses over HTTP, fetching or computing data on some remote resource, building some microservice that is meant to interact with others, etc. With all of this distribution going on, one might ask, what happened to distributed programming languages? Why are we still using languages like Java or C++ for these sorts of tasks? In this talk, Heather will take us on a whirlwind tour through history up to the present of distributed programming languages as well as programming constructs meant for distribution like futures and RPC. Together, we'll try to work out what happened to all of the distributed programming languages!</p>

      <h3 id="references-specifying-the-order-here-">References</h3>
      <ul>
        <li><a href="https://github.com/heathermiller/dist-prog-book"> Programming Models for Distributed Computation</a> by Heather Miller and her students in
          <a href="http://heather.miller.am/teaching/cs7680/">CS7680 Special Topics in Computing Systems</a>, a course at Northeastern University</li>
        <li><a href="https://pdos.csail.mit.edu/6.824/papers/argus88.pdf">Distributed Programming in Argus</a> by B. Liskov</li>
        <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.147.3932&rep=rep1&type=pdf">Distribution and Abstract Types in Emerald</a> by A.Black, N. Hutchinson, E. Jul, H. Levy, and L.Carter</li>
        <li><a href="http://heather.miller.am/teaching/cs7680/pdfs/Linda-Alternative-to-Message-Passing.pdf">The Linda alternative to message-passing systems</a> by N.J. Carriero, D. Gelernter, T.G. Mattson, and A.H. Sherman</li>
        <li><a href="https://pdfs.semanticscholar.org/a376/4c0986b0eecab2922c26a0472e83d17d4431.pdf">Scala Actors: Unifying thread-based and event-based programming</a> by P. Haller and M. Odersky</li>
        <li><a href="https://www.microsoft.com/en-us/research/wp-content/uploads/2016/07/remote.pdf">Towards Haskell in the Cloud</a> by J. Epstein, A.P. Black, and S.P. Jones</li>
        <li><a href="https://www.info.ucl.ac.be/~pvr/ppdp-2015-cr.pdf">Lasp: A Language for Distributed, Coordination-Free Programming</a> by C. Meiklejohn and P.V. Roy</li>
      </ul>

      <h3>Biography</h3>
      <p><a href="http://heather.miller.am/">Heather Miller</a> is the executive director of the <a href="https://scala.epfl.ch/">Scala Center</a> at EPFL, where she is a research scientist, and an Assistant Clinical Professor at Northeastern University in Boston. She recently completed her PhD in <a href="https://ic.epfl.ch/en">EPFL's Faculty of Computer and Communication Science</a> where she contributed to the now-widespread programming language, Scala. Heather's research interests are at the intersection of data-centric distributed systems and programming languages, with a focus on transferring her research results into industrial use. She has also led development of popular MOOCs some 800,000 students strong, such as <a href="https://www.coursera.org/learn/progfun1">"Functional Programming Principles in Scala."</a></p>
    </div>
  </section>
</article>
