---
title: Heather Miller
description: Scala contributor, Research scientist, Asst. Clinical Professor and Educator
og_title: Heather Miller | PWLConf 2017 Speaker
og_image: http://pwlconf.org/images/2017/heather_miller_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Fabienne Serriére" src="/images/2017/heather_miller_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Heather Miller</h1>
      <h2>
        Executive Director, Scala Center at École polytechnique fédérale de Lausanne<br />
        Assistant Clinical Professor, Northeastern University
      </h2>
    </div>
    <div class="speaker-text">
      <h3>Biography</h3>
      <p><a href="http://heather.miller.am/">Heather Miller</a> is the executive director of the <a href="https://scala.epfl.ch/">Scala Center</a> at EPFL, where she is a research scientist, and an Assistant Clinical Professor at Northeastern University in Boston. She recently completed her PhD in <a href="https://ic.epfl.ch/en">EPFL's Faculty of Computer and Communication Science</a> where she contributed to the now-widespread programming language, Scala. Heather's research interests are at the intersection of data-centric distributed systems and programming languages, with a focus on transferring her research results into industrial use. She has also led development of popular MOOCs some 800,000 students strong, such as <a href="https://www.coursera.org/learn/progfun1">"Functional Programming Principles in Scala."</a></p>
    </div>
  </section>
</article>
