---
title: James Long
description: My history with papers
og_title: James Long | PWLConf 2017 Speaker
og_image: https://pwlconf.org/images/2017/james_long_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="James Long" src="/images/2017/james_long_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>James Long</h1>
      <h2>Shift Reset LLC</h2>
    </div>
    <div class="speaker-text">
      <h3>My History with Papers</h3>
      <p>James is passionate about taking good ideas found in research and applying them to problems faced at work. There are several times throughout his career where doing this not only helped solved problems, but deepened his understanding of how to build software.</p>

      <p>Four papers in particular have helped over the years. The <a href="https://www.cs.utah.edu/~shirley/papers/sunsky/sunsky.pdf">first</a> helped him implement light scattering in a 3d demo very early in his career, and taught him how to take abstract ideas and math and turn it into code. <a href="http://scheme2006.cs.uchicago.edu/11-ghuloum.pdf">Another paper</a> shows how to implement a Scheme compiler to native x86 code in such a way than anyone could follow it, and shows how to break down intimidating problems. The last two show how to implement <a href="http://www.schemeworkshop.org/2007/procPaper4.pdf">continuations</a> and a <a href="https://homepages.inf.ed.ac.uk/wadler/papers/prettier/prettier.pdf">pretty-printer</a>, both solving critical problems and challenging his previous assumptions about how to write code.</p>

      <p>These papers not only helped with technical problems, but provided a deeper insight about how to approach computing. James will explain these papers in detail and how they have improved him as a programmer.</p>

      <h3 id="references-specifying-the-order-here-">References</h3>
      <ul>
        <li><a href="http://amd-dev.wpengine.netdna-cdn.com/wordpress/media/2012/10/ATI-LightScattering.pdf">Rendering Outdoor Light Scattering in Real Time</a> by N. Hoffman and A.J. Preetham</li>
        <li><a href="http://scheme2006.cs.uchicago.edu/11-ghuloum.pdf">An Incremental Approach to Compiler Construction</a> by A. Ghuloum</li>
        <li><a href="http://www.schemeworkshop.org/2007/procPaper4.pdf">Exceptional Continuations in JavaScript</a> by F. Loitsch</li>
        <li><a href="https://homepages.inf.ed.ac.uk/wadler/papers/prettier/prettier.pdf">A prettier printer</a> by P. Wadler</li>
      </ul>

      <h3>Biography</h3>
      <p><a href="http://jlongster.com">James</a> (<a href="https://twitter.com/jlongster">@jlongster</a>) is a software contractor with a <a href="https://cisco.github.io/ChezScheme/">Scheme</a> background who loves new user interface techniques, studying programming languages, and building things out of wood.</p>
    </div>
  </section>
</article>
