---
title: James Long
description: Contractor, Schemer, Woodworker
og_title: James Long | PWLConf 2017 Speaker
og_image: http://pwlconf.org/images/2017/james_long_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="James Long" src="/images/2017/james_long_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>James Long</h1>
      <h2>Shift Reset LLC</h2>
    </div>
    <div class="speaker-text">
      <h3>Biography</h3>
      <p><a href="http://jlongster.com">James</a> (<a href="https://twitter.com/jlongster">@jlongster</a>) is a software contractor with a <a href="https://cisco.github.io/ChezScheme/">Scheme</a> background who loves new user interface techniques, studying programming languages, and building things out of wood.</p>
    </div>
  </section>
</article>
