---
title: Kenichi Asai
description: Delimited Continuations for Everyone
og_title: Kenichi Asai | PWLConf 2017 Speaker
og_image: https://pwlconf.org/images/2017/kenichi_asai_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Kenichi Asai" src="/images/2017/kenichi_asai_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Kenichi Asai</h1>
      <h2>Associate Professor<br />Dept. of Information Science, Ochanomizu University</h2>
    </div>
    <div class="speaker-text">
      <h3>Delimited Continuations for Everyone</h3>
      <p>Have you thought of continuations as something that only program semanticists and compiler implementers are concerned with? In fact, the concept of continuations appears everywhere and is useful for everyone. In this talk, Dr. Asai will introduce <a href="https://en.wikipedia.org/wiki/Delimited_continuation">delimited continuations</a> from the programmer&#39;s perspective directly without requiring any program transformation or semantic arguments. He will then show how various and seemingly complex programs can be written simply and concisely by manipulating delimited continuations. The goal here is to convince you that delimited continuations are useful in day-to-day programming. Finally, Dr. Asai will speculate on the <a href="http://disi.unitn.it/~bernardi/RSISE11/Papers/curry-howard.pdf">Curry-Howard isomorphism</a> of delimited continuations, which could open the door for the introduction of delimited continuations into theorem proving.</p>

      <h3 id="references-specifying-the-order-here-">References</h3>
      <ul>
        <li><a href="https://www.cs.uoregon.edu/research/summerschool/summer09/lectures/danvy-filinski-mscs92.ps">Representing Control: A Study of CPS transformation</a> by O. Danvy and A. Filinski (Introduction to delimited continuations)</li>
        <li><a href="https://pdfs.semanticscholar.org/9c0b/89b500328aac8f8501c03166b291d740b4a7.pdf">Abstracting Control</a> by O. Danvy and A. Filinski</li>
        <li><a href="http://www.brics.dk/RS/98/12/BRICS-RS-98-12.pdf">Functional Unparsing</a> by O. Danvy</li>
        <li><a href="http://www.cs.tufts.edu/~nr/cs257/archive/matthias-felleisen/prompts.pdf">The Theory and Practice of First-Class Prompts</a> by Matthias Felleisen</li>
        <li><a href="https://pdfs.semanticscholar.org/3269/b62bc0ff84dc5fdcc6153094704b98799f67.pdf">A Formulae-as-Types Notion of Control</a> by T. Griffin</li>
        <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.51.7918&amp;rep=rep1&amp;type=pdf">Cogen in Six Lines</a> by P. Thiemann</li>
      </ul>

      <h3>Biography</h3>
      <p><a href="http://pllab.is.ocha.ac.jp/~asai/">Kenichi Asai</a> is an associate professor in the Department of Information Science at Ochanomizu University, Japan.  His research interest centers around the &quot;essence&quot; (in his own way) of programming languages.  He designed a Scheme-based reflective language <a href="http://pllab.is.ocha.ac.jp/~asai/Black/">Black</a> (<a href="https://github.com/readevalprintlove/black">code</a>), because reflective languages represent the essence of interpreters in the most distilled way.  He studied partial evaluation because it is the only general framework for compilation of reflective languages. He was attracted to delimited continuations because they explain various complex behavior of programming languages in a succinct and understandable manner.  He is also interested in education of programming languages, because teaching forces us to think about the essence.  He is a strong advocator of <a href="https://code.org/curriculum/algebra/9/Teacher">Design Recipe</a>, which he believes is one of the essence of programming in general, and uses it to teach OCaml in the university.  He ported the <a href="https://docs.racket-lang.org/teachpack/2htdpuniverse.html">universe teachpack of Racket</a> to <a href="http://pllab.is.ocha.ac.jp/~asai/Universe/">OCaml</a>, because it exhibits the essential model of game programming.</p>
      <p>Recently, he is co-developing an interactive <a href="http://pllab.is.ocha.ac.jp/~asai/TypeDebugger/">OCaml type debugger</a> as well as an OCaml stepper that uses delimited continuations in a non-trivial way. He believes both the tools are essential for beginning students.</p>
    </div>
  </section>
</article>
