---
title: Kenichi Asai
description: Kenichi Asai on Delimited Continuations for Everyone
og_title: Kenichi Asai | PWLConf 2017 Speaker
og_image: http://pwlconf.org/images/2017/kenichi_asai_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Kenichi Asai" src="/images/2017/kenichi_asai_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Kenichi Asai</h1>
      <h2>Associate Professor<br />Dept. of Information Science, Ochanomizu University</h2>
    </div>
    <div class="speaker-text">
      <h3>Delimited Continuations for Everyone</h3>
      <p>More soon!</p>

      <h3>Biography</h3>
      <p><a href="http://www.is.ocha.ac.jp/~asai/">Kenichi Asai</a> is an associate professor in the Department of Information Science at Ochanomizu University, Japan.  His research interest centers around the "essence" (in his own way) of programming languages.  He designed a Scheme-based reflective language Black, because reflective languages represent the essence of interpreters in the most distilled way.  He studied partial evaluation because it is the only general framework for compilation of reflective languages. He was attracted to delimited continuations because they explain various complex behavior of programming languages in a succinct and understandable manner.  He is also interested in education of programming languages, because teaching forces us to think about the essence.  He is a strong advocator of <a href="https://code.org/curriculum/algebra/9/Teacher">Design Recipe</a>, which he believes is one of the essence of programming in general, and uses it to teach OCaml in the university.  He ported the <a href="https://docs.racket-lang.org/teachpack/2htdpuniverse.html">universe teachpack of Racket</a> to <a href="http://pllab.is.ocha.ac.jp/~asai/Universe/">OCaml</a>, because it exhibits the essential model of game programming.</p>

      <p>Recently, he is co-developing an interactive OCaml type debugger as well as an OCaml stepper that uses delimited continuations in a non-trivial way.  He believes both the tools are essential for beginning students.</p>
    </div>
  </section>
</article>
