---
title: Lunch
og_title: Lunch | Papers We Love Conference 2017
---
<article class="container internal lunch">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="lunch-headline">
      <h1 id="lunch">Lunch</h1>
    </div>
    <div class="lunch-text">
      <p>We're excited to offer multiple lunch options this year from a variety of local food trucks in St. Louis. We also have multiple vegetarian and vegan options available. Learn more about the food trucks below, as well as our lunch ticket system.</p>

      <h3 id="lunch-ticket">Lunch ticket</h3>
      <p>When you register for PWLConf in the morning you will be given a lunch ticket with your badge. <strong>You must present this ticket to one of the food trucks listed on this page to receive a meal</strong>. There will only be one lunch ticket provided per attendee. You may of course purchase any additional items from other trucks once you've used your ticket.</p>

      <h3 id="burger"><a href="https://www.facebook.com/angieburgerstl/">Angie Burger</a></h3>
      <h4 class="lunch-options">Vegetarian: No | Vegan: No</h4>

      <h3 id="chachachow"><a href="https://www.chachachow.com/">Cha Cha Chow</a></h3>
      <h4 class="lunch-options">Vegetarian: Yes | Vegan: Yes (ask for no cheese)</h4>
      <p>For over 5 years Cha Cha Chow in Saint Louis MO has offered a fusion of Latin Americas to the North Americas inspired cuisine.</p>

      <h3 id="doughboy"><a href="https://twitter.com/stldoughboys">Doughboy’s Wood Fired Pizza</a></h3>
      <h4 class="lunch-options">Vegetarian: Yes | Vegan: Yes</h4>
      <p>We are an up and coming food truck to the STL that makes pizza from our wood fired oven.</p>

      <h3 id="gyro"><a href="http://www.gogyrogostl.com/">Go Gyro Go!</a></h3>
      <h4 class="lunch-options">Vegetarian: Yes | Vegan: Yes</h4>
      <p>Go! Gyro! Go!’s commitment is to bring delicious Greek Island food to St. Louisians on the go.  Our truck contains a full commercial kitchen and our food is freshly prepared when ordered.  We use only the highest quality ingredients including Olive Oil imported from Greece and locally grown vegetables whenever possible.</p>

      <h3 id="pionthespot"><a href="http://pi-pizza.com/">Pi on the Spot Pizza</a></h3>
      <h4 class="lunch-options">Vegetarian: Yes | Vegan: No</h4>
      <p>Pi Pizzeria, home of irrationally delicious deep dish and thin cornmeal crust pizza, and prime craft beers. We’re stoked to be in your neighborhood. Doing right by our neighbors is important to us, which means making the tastiest pizzas with the freshest ingredients around, taking care of our awesome team by paying a higher minimum wage, minimizing our carbon footprint with sustainable purchases and practices, and giving back to you guys – our neighbors.</p>
    </div>

    <div class="lunch-photo">
      <h3 id="need-help">Questions?</h3>
      <p>If you have any questions about our lunch options please contact:</p>

      <ul>
        <li>
          <strong>Zeeshan Lakhani</strong>
          <a href="mailto:zeeshan@paperswelove.org">zeeshan@paperswelove.org</a> /
          <a href="https://twitter.com/zeeshanlakhani">@zeeshanlakhani</a>
        </li>
      </ul>
    </div>

    <div class="lunch-headline">
      <h1 id="snack" style="margin-bottom: 10px" >Snack</h1>
    </div>
    <div class="lunch-text" >
      <h3 id="clementines"><a href="http://www.clementinescreamery.com/">Clementine's Creamery</a></h3>
      <h4 class="lunch-options">Vegetarian: Yes | Vegan: Yes</h4>
      <p>All of our decadent ice creams, small batch creations are handcrafted using only the finest quality, 100% all-natural ingredients. We incorporate some of St. Louis’ favorite local ingredients to create smooth, creamy treats for anyone who’s feeling naughty or nice.</p>
    </div>
  </section>
</article>
