---
title: Sponsor Prospectus
og_title: 2017 Sponsor Prospectus
description: Sponsorship prospectus for Papers We Love Conf 2017
---

<article class="container internal prospectus">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="prospectus-headline">
      <h1>2017 Sponsorship Prospectus</h1>
      <h3>What is Papers We Love and PWLConf?</h3>
    </div>
    <div class="prospectus-text">
      <p><a href="http://paperswelove.org/">Papers We Love</a> is an organization that brings academic research closer to practitioners through community building. Not only are we building bridges between academia and industry, we also bridge oceans, cultures, and disciplines. We are over 30 chapters Internationally, all sharing the same enthusiasm to learn from and connect with classical and contemporary research.</p>

      <p>Initiatives like our curated repository of papers, recorded talks, and an organization-wide (and conference) code of conduct are adopted and enjoyed by a growing base. Our mission is to bring ideas closer to the people who seek them.</p>

      <p>2017's PWLConf will be our second official Papers We Love Conference. Our inaugural conference featured 6 fantastic speakers from varying backgrounds, presenting on everything from designing network systems and bias in algorithm development to research techniques used in real-world gaming engines and software engineering research. The first one was a real success, and we’re extremely excited for part two!</p>
    </div>
    <div class="prospectus-photo">
      <%= image_tag 'STL_1189.jpg', :width => "100%", :alt => "Claire Le Goues", :title => "Claire Le Goues - PWLConf 2016" %>
      <span>Claire Le Goues, PWLConf 2016</span>
    </div>
  </section>
  <section>
    <div class="prospectus-headline">
      <h3>Why should you consider sponsoring PWLConf?</h3>
    </div>
    <div class="prospectus-text">
      <p>The audience for PWLConf is a diverse amalgam of software and hardware engineers, industry professionals, professors, and students of various levels—just like those who attend our local chapters. We showcase the most interesting work at the intersection of industry and academia and discuss what’s next!</p>

      <p>We've put together a selection of sponsorship packages to suit different budgets and desired levels of visibility. We are happy to work with sponsors to come up with creative ideas beyond a standard package.</p>

      <p>If you’re interested in sponsoring and/or contributing in any way, please send an email to <a href="mailto:pwlconf-sponsors@paperswelove.org">pwlconf-sponsors@paperswelove.org</a>, via our <a href="https://paperswelove.slack.com/messages/general/">Slack channel</a> (<a href="http://papersweloveslack.herokuapp.com/">sign-up page</a>), or you can reach out to <a href="https://twitter.com/tsantero">Tom Santero</a> (PDT timezones) at (347) 571-3995 or <a href="https://twitter.com/zeeshanlakhani">Zeeshan Lakhani</a> (EDT timezones) at (347) 450-1732 if you have questions, thoughts, ideas, or want to discuss a sponsorship further.</p>
    </div>
    <div class="prospectus-photo">
      <%= image_tag 'L1040555m.jpg', :width => "100%", :alt => "Basho", :title => "Sponsor table - PWLConf 2016" %>
      <span>Sponsor table, PWLConf 2016</span>
    </div>
  </section>

  <section>
    <div class="prospectus-headline">
      <h3>Sponsorship opportunities</h3>
    </div>

    <div class="prospectus-opportunities">
      <div class="prospectus-opportunity">
        <h4>Platinum Sponsor / <span>$10,000 (1 Available)</span></h4>
        <p>Platinum sponsors receive top logo placement on the conf. stage, within the venue, homepage of conf. site, sponsor page summary, conference videos, mentions on the <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account and conference email. <strong>4 complimentary tickets.</strong></p>
      </div>

      <div class="prospectus-opportunity">
        <h4>Gold Sponsor / <span>$7,000 (6 Available)</span></h4>
        <p>Gold sponsors get logo placement within the venue, on sponsor page of the conf. site and mentions on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>3 complimentary tickets.</strong></p>
      </div>

      <div class="prospectus-opportunity">
        <h4>Silver Sponsor / <span>$5,000 (6 Available)</span></h4>
        <p>Silver sponsors get logo placement within the venue, on sponsor page of the conf. site, and mentions on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>2 complimentary tickets.</strong></p>
      </div>
      <div class="prospectus-opportunity">
        <h4>Bronze Sponsor / <span>$3,000 (10 Available)</span></h4>
        <p>Bronze sponsors get logo placement on sponsor page of conf. and a mention on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>2 complimentary tickets.</strong></p>
      </div>
    </div>
    <div class="prospectus-opportunities">

      <div class="prospectus-opportunity">
        <h4>Lunch Sponsor / <span>$3,000 (2 Available)</span></h4>
        <p>Lunch sponsors get logo placement on sponsor page of conf. and signage near lunch location. <strong>1 complimentary ticket.</strong></p>
      </div>
      <div class="prospectus-opportunity">
        <h4>Video Sponsor / <span>$3,000 (1 Available)</span></h4>
        <p>Video sponsors get logo placement on video descriptions, the conf. site and YouTube channel, end of video credits, and sponsor page of the conf. <strong>1 complimentary ticket.</strong></p>
      </div>
      <div class="prospectus-opportunity">
        <h4>Refreshments Sponsor / <span>$2,000 (1 Available)</span></h4>
        <p>Refreshments Hour is pre-conference get-together for speakers and attendees. Sponsor receives logo placement on sponsor page of the conf. and signage near the event location. <strong>1 complimentary ticket.</strong></p>
      </div>
    </div>
  </section>

  <section>
    <div class="prospectus-text">
      <h2>Contact Us</h2>
      <p>If you’re interested in sponsoring and/or contributing in any way, please send an email to <a href="mailto:pwlconf-sponsors@paperswelove.org">pwlconf-sponsors@paperswelove.org</a>, via our <a href="https://paperswelove.slack.com/messages/general/">Slack channel</a> (<a href="http://papersweloveslack.herokuapp.com/">sign-up page</a>), or you can reach out to <a href="https://twitter.com/tsantero">Tom Santero</a> (PDT timezones) at (347) 571-3995 or <a href="https://twitter.com/zeeshanlakhani">Zeeshan Lakhani</a> (EDT timezones) at (347) 450-1732 if you have questions, thoughts, ideas, or want to discuss a sponsorship further.</p>
    </div>
  </section>
</article>
