---
title: Sponsor Prospectus
og_title: 2017 Sponsor Prospectus
description: Sponsorship prospectus for Papers We Love Conf 2017
---

<article id="articleContainer">
  <%= partial '2017/partials/internalTagLine' %>
  <%= partial '2017/partials/internalTopNav' %>

  <section class="articleTextContent">
    <h1>2017 Sponsorship Prospectus</h1>

    <h3>What is Papers We Love and PWLConf?</h3>

    <p><a href="http://paperswelove.org/">Papers We Love</a> is an organization that brings academic research closer to practitioners through community building. Not only are we building bridges between academia and industry, we also bridge oceans, cultures, and disciplines. We are over 30 chapters Internationally, all sharing the same enthusiasm to learn from and connect with classical and contemporary research.</p>

    <p>Initiatives like our curated repository of papers, recorded talks, and an organization-wide (and conference) code of conduct are adopted and enjoyed by a growing base. Our mission is to bring ideas closer to the people who seek them.</p>

    <p>2017's PWLConf will be our second official Papers We Love Conference. Our inaugural conference featured 6 fantastic speakers from varying backgrounds, presenting on everything from designing network systems and bias in algorithm development to research techniques used in real-world gaming engines and software engineering research. The first one was a real success, and we’re extremely excited for part two!</p>

    <h3>Why should you consider sponsoring PWLConf?</h3>

    <p>The audience for PWLConf is a diverse amalgam of software and hardware engineers, industry professionals, professors, and students of various levels—just like those who attend our local chapters. We showcase the most interesting work at the intersection of industry and academia and discuss what’s next!</p>

    <p>We've put together a selection of sponsorship packages to suit different budgets and desired levels of visibility. We are happy to work with sponsors to come up with creative ideas beyond a standard package.</p>

    <p>If you’re interested in sponsoring and/or contributing in any way, please send an email to <a href="mailto:pwlconf-sponsors@paperswelove.org">pwlconf-sponsors@paperswelove.org</a>, via our <a href="https://paperswelove.slack.com/messages/general/">Slack channel</a> (<a href="http://papersweloveslack.herokuapp.com/">sign-up page</a>), or you can reach out to <a href="https://twitter.com/tsantero">Tom Santero</a> (PDT timezones) at (347) 571-3995 or <a href="https://twitter.com/zeeshanlakhani">Zeeshan Lakhani</a> (EDT timezones) at (347) 450-1732 if you have questions, thoughts, ideas, or want to discuss a sponsorship further.</p>
  </section>

  <section class="articleSponsorOpp">
    <h2>Sponsorship opportunities</h2>

    <h3>Platinum Sponsor / <span>$10,000 (3 Available)</span></h3>
    <p>Platinum sponsors receive top logo placement on the conf. stage, within the venue, homepage of conf. site, sponsor page summary, conference videos, mentions on the <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account and conference email. <strong>4 complimentary tickets.</strong></p>

    <h3>Gold Sponsor / <span>$7,000 (6 Available)</span></h3>
    <p>Gold sponsors get logo placement within the venue, on sponsor page of the conf. site and mentions on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>3 complimentary tickets.</strong></p>

    <h3>Silver Sponsor / <span>$5,000 (8 Available)</span></h3>
    <p>Silver sponsors get logo placement within the venue, on sponsor page of the conf. site, and mentions on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>2 complimentary tickets.</strong></p>

    <h3>Bronze Sponsor / <span>$3,000 (10 Available)</span></h3>
    <p>Bronze sponsors get logo placement on sponsor page of conf. and a mention on the official <a href="https://twitter.com/papers_we_love">PWLConf Twitter</a> account. <strong>2 complimentary tickets.</strong></p>

    <h3>Lunch Sponsor / <span>$3,000 (2 Available)</span></h3>
    <p>Lunch sponsors get logo placement on sponsor page of conf. and signage near lunch location. <strong>1 complimentary ticket.</strong></p>

    <h3>Video Sponsor / <span>$3,000 (1 Available)</span></h3>
    <p>Video sponsors get logo placement on video descriptions, the conf. site and YouTube channel, end of video credits, and sponsor page of the conf. <strong>1 complimentary ticket.</strong></p>

    <h3>Captioning Sponsor / <span>$3,000 (1 Available)</span></h3>
    <p>Sponsor receives logo placement on video descriptions, conf. site and YouTube channel, end of video credits, and sponsor page of conf. <strong>1 complimentary ticket.</strong></p>

    <h3>Lanyard Sponsor / <span>$2,000 (1 Available)</span></h3>
    <p>Lanyard sponsor gets logo placement on conf. Lanyards and logo placement on sponsor page of the conf. <strong>1 complimentary ticket.</strong></p>

    <h3>Refreshments Sponsor / <span>$2,000 (1 Available)</span></h3>
    <p>Refreshments Hour is pre-conference get-together for speakers and attendees. Sponsor receives logo placement on sponsor page of the conf. and signage near the event location. <strong>1 complimentary ticket.</strong></p>

    <h3>Opportunity Grants</h3>
    <p><a href="https://thestrangeloop.com/">Strangeloop</a>, whom we’re co-located with, provides <a href="https://thestrangeloop.com/opportunity.html">Diversity Scholarships</a> to support to members of underrepresented groups who may not otherwise have the opportunity to attend their conference or PWLConf. Scholarship recipients will be given free passes to PWLConf if they wish to attend. You and/or your company can sponsor the program directly by contacting the Strange Loop organizers at <a href="mailto:diversity@thestrangeloop.com">diversity@thestrangeloop.com.</a> Any contribution helps!</p>
  </section>

  <section class="articleSponsorOpp">
    <h2>Contact Us</h2>
    <p>If you’re interested in sponsoring and/or contributing in any way, please send an email to <a href="mailto:pwlconf-sponsors@paperswelove.org">pwlconf-sponsors@paperswelove.org</a>, via our <a href="https://paperswelove.slack.com/messages/general/">Slack channel</a> (<a href="http://papersweloveslack.herokuapp.com/">sign-up page</a>), or you can reach out to <a href="https://twitter.com/tsantero">Tom Santero</a> (PDT timezones) at (347) 571-3995 or <a href="https://twitter.com/zeeshanlakhani">Zeeshan Lakhani</a> (EDT timezones) at (347) 450-1732 if you have questions, thoughts, ideas, or want to discuss a sponsorship further.</p>
  </section>

  <%= partial '2017/partials/footer' %>
</article>
