---
title: Ronald Garcia
description: Ronald Garcia
og_title: Ronald Garcia | PWLConf 2017 Speaker
og_image: http://pwlconf.org/images/2017/ron_garcia_300.jpg
og_width: 300
og_height: 300
---

<article class="container internal speaker">
  <%= partial '2017/partials/internalTopNav' %>

  <section>
    <div class="speaker-photo">
      <img alt="Ronald Garcia" src="/images/2017/ron_garcia_300.jpg" class="speaker-photos"/>
    </div>
    <div class="speaker-headline">
      <h1>Ronald Garcia</h1>
      <h2>Associate Professor<br />Dept. of Computer Science, University of British Columbia</h2>
    </div>
    <div class="speaker-text">
      <h3>Biography</h3>
      <p><a href="http://www.cs.ubc.ca/~rxg/">Ronald Garcia</a> is an associate professor in the <a href="https://www.cs.ubc.ca/">Computer Science Department at University of British Columbia</a>. His research investigates how fundamental concepts in the theory, implementation, and practice of programming languages can improve software development. His <a href="http://dblp.uni-trier.de/pers/hd/g/Garcia:Ronald">recent research</a> has focused on program generation and metaprogramming, static and dynamic type systems, and generic programming abstractions.</p>
    </div>
  </section>
</article>
