<footer>
  <a href="https://twitter.com/papers_we_love" title="@papers_we_love">
    <i class="fab fa-twitter-square"></i>
    <span class="footerItemLabel">@papers_we_love</span>
  </a>
  <a href="http://papersweloveslack.herokuapp.com/" title="Join our Slack">
    <i class="fab fa-slack"></i>
    <span class="footerItemLabel">Join our Slack</span>
  </a>
  <a href="http://paperswelove.org" title="paperswelove.org">
    <i class="fas fa-file"></i>
    <span class="footerItemLabel">Papers We Love</span>
  </a>
  <a href="mailto:pwlconf@paperswelove.org" title="Send email">
    <i class="fas fa-envelope-square"></i>
    <span class="footerItemLabel">Email Us</span>
  </a>
  <a href="/2017" title="PWLConf 2017">
    PWLConf 2017
  </a>
  <a href="/2016" title="PWLConf 2016">
    PWLConf 2016
  </a>
  <span class="footerCopyright">
    &copy; 2018 Papers We Love Ltd., all rights reserved
  </span>
</footer>
