<footer class="cb cf w-100 pa4 ph5-ns mt3 mt5-ns bg-light-gray avenir">
  <div class="max-width">
    <div class="fl w-100 w-third-ns pt3-ns">
      <a href="https://twitter.com/papers_we_love"><svg title="Papers We Love on Twitter" alt="Twitter Icon" class="svg-icon-twitter" enable-background="new 0 0 400 400" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg"><path d="m350 400h-300c-27.6 0-50-22.4-50-50v-300c0-27.6 22.4-50 50-50h300c27.6 0 50 22.4 50 50v300c0 27.6-22.4 50-50 50z" fill="#1da1f2"/><path d="m153.6 301.6c94.3 0 145.9-78.2 145.9-145.9 0-2.2 0-4.4-.1-6.6 10-7.2 18.7-16.3 25.6-26.6-9.2 4.1-19.1 6.8-29.5 8.1 10.6-6.3 18.7-16.4 22.6-28.4-9.9 5.9-20.9 10.1-32.6 12.4-9.4-10-22.7-16.2-37.4-16.2-28.3 0-51.3 23-51.3 51.3 0 4 .5 7.9 1.3 11.7-42.6-2.1-80.4-22.6-105.7-53.6-4.4 7.6-6.9 16.4-6.9 25.8 0 17.8 9.1 33.5 22.8 42.7-8.4-.3-16.3-2.6-23.2-6.4v.7c0 24.8 17.7 45.6 41.1 50.3-4.3 1.2-8.8 1.8-13.5 1.8-3.3 0-6.5-.3-9.6-.9 6.5 20.4 25.5 35.2 47.9 35.6-17.6 13.8-39.7 22-63.7 22-4.1 0-8.2-.2-12.2-.7 22.6 14.4 49.6 22.9 78.5 22.9" fill="#fff"/></svg></a>

      <a href="http://papersweloveslack.herokuapp.com/"><svg title="Sign up for Papers We Love's Slack" alt="Slack Icon" class="svg-icon-slack ml2 ml4-ns" enable-background="new 0 0 270 270" viewBox="0 0 270 270" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2.164016"><path d="m57.961027 170.05706c0 15.36452-12.551293 27.91581-27.915808 27.91581-15.364514 0-27.9158072-12.55129-27.9158072-27.91581 0-15.36451 12.5512932-27.91581 27.9158072-27.91581h27.915808z" fill="#e01e5a"/><path d="m72.027132 170.05706c0-15.36451 12.551293-27.91581 27.915807-27.91581 15.364511 0 27.915811 12.5513 27.915811 27.91581v69.89772c0 15.36451-12.5513 27.91581-27.915811 27.91581-15.364514 0-27.915807-12.5513-27.915807-27.91581z" fill="#e01e5a"/><path d="m99.942939 57.961027c-15.364514 0-27.915807-12.551293-27.915807-27.915808 0-15.364514 12.551293-27.9158072 27.915807-27.9158072 15.364511 0 27.915811 12.5512932 27.915811 27.9158072v27.915808z" fill="#36c5f0"/><path d="m99.942939 72.027132c15.364511 0 27.915811 12.551293 27.915811 27.915807 0 15.364511-12.5513 27.915811-27.915811 27.915811h-69.89772c-15.364514 0-27.9158072-12.5513-27.9158072-27.915811 0-15.364514 12.5512932-27.915807 27.9158072-27.915807z" fill="#36c5f0"/><path d="m212.03897 99.942939c0-15.364514 12.5513-27.915807 27.91581-27.915807s27.91581 12.551293 27.91581 27.915807c0 15.364511-12.5513 27.915811-27.91581 27.915811h-27.91581z" fill="#2eb67d"/><path d="m197.97287 99.942939c0 15.364511-12.55129 27.915811-27.91581 27.915811-15.36451 0-27.91581-12.5513-27.91581-27.915811v-69.89772c0-15.364514 12.5513-27.9158072 27.91581-27.9158072 15.36452 0 27.91581 12.5512932 27.91581 27.9158072z" fill="#2eb67d"/></g><g fill="#ecb22e" transform="matrix(2.1640161 0 0 2.1640161 -157.14217 -157.14217)"><path d="m151.2 170.6c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9-12.9-5.8-12.9-12.9v-12.9z"/><path d="m151.2 164.1c-7.1 0-12.9-5.8-12.9-12.9s5.8-12.9 12.9-12.9h32.3c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9z"/></g></svg></a>
    </div>

    <div class="fl tr-ns w-100 mt3 mt0-ns w-two-thirds-ns">
      <p>
        <a href="mailto:pwlconf@paperswelove.org" class="link dark-blue hover-bg-light-yellow">Contact Us</a>&nbsp;|&nbsp;
        <a href="/2018" class="link dark-blue hover-bg-light-yellow">2018</a>&nbsp;|&nbsp;
        <a href="/2017" class="link dark-blue hover-bg-light-yellow">2017</a>&nbsp;|&nbsp;
        <a href="/2016" class="link dark-blue hover-bg-light-yellow">2016</a>&nbsp;
      </p>
      <h4 class="normal dark-gray">&copy; 2019 Papers We Love Ltd., all rights reserved.</h4>
    </div>
  </div>
</footer>
