---
title: Home
og_title: Papers We Love Conference 2019
---
<div class="bg-blue avenir">
  <div class="pt6 pb3 pl5 pr5">
    <h1 class="f-headline measure washed-blue">
      Papers We Love <span class="normal">2019</span>
    </h1>
  </div>
</div>
<div class="bg-blue avenir">
  <div class="pt0 pb3 ph5">
    <div class="cf">
      <div class="fl w-100 w-third-ns pa2">
        <div class="bt b--washed-blue pv4">Foo</div>
      </div>
      <div class="fl w-100 w-third-ns pa2">
        <div class="outline pv4">Bar</div>
      </div>
      <div class="fl w-100 w-third-ns pa2">
        <div class="outline pv4">Baz</div>
      </div>
    </div>
  </div>
</div>
