---
title: Home
og_title: Papers We Love Conference 2017
---
<%= partial '2017/partials/indexTopnav' %>

<div class="home-main-image">
  <img class="desktop-img" src="/images/2017/pwl-desktop-header-ALT.png"/>
  <img class="mobile-img" src="/images/2017/pwl-mobile-header-ALT.png"/>
</div>

<div class="mobile-text">
  <p>September 28, 2017</p>
  <p>St. Louis, MO</p>
</div>

<article class="container home">
  <section>
    <div class="showcase-text">
      <p class="text-container">
        <strong>Purchase tickets from the <a href="https://ti.to/strange-loop/2017">Strange Loop Registration</a> Page</strong>
        <span>Tickets for Papers We Love Conf are <strong>$40</strong> and include lunch.</span>
      </p>
      <p class="button-container">
        <button onclick="bannerClick()" type="button" class="btn btn-primary btn-lg">Buy Tickets Now</button>
      </p>
    </div>
  </section>
  <section>
    <div class="container top-sponsors">
      <div class="top-sponsors-container">
        <div class="home-slack">
          <p><strong><a href="http://papersweloveslack.herokuapp.com/">Sign up for the Papers We Love Slack</a></strong> to keep up with the latest developments and get in touch with fellow attendees.</p>
        </div>
        <div class="home-logos">
          <a class="sponsor-logo-link" href="http://jobs.comcast.com/"><%= image_tag '2017/Comcast.svg', :alt => "Comcast", :title => "Platinum Sponsor Comcast", :class => "sponsor-comcast" %></a>
          <a class="sponsor-logo-link" href="https://www.twosigma.com/careers"><%= image_tag '2017/TwoSigma.svg', :alt => "TwoSigma", :title => "Platinum Sponsor TwoSigma", :class => "sponsor-twosigma" %></a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container speakers">
      <div class="speakers-headline">
        <h1>Speakers</h1>
      </div>
      <div class="speaker-list">
        <div>
          <a href="/2017/kenichi-asai">
            <img alt="Kenichi Asai" src="/images/2017/kenichi_asai_300.jpg" />
          </a>
          <a href="/2017/kenichi-asai">
            <h3>Kenichi Asai</h3>
          </a>
          <h4><a href="http://www.is.ocha.ac.jp/index_e.html">Ochanomizu University</a></h4>
        </div>
        <div>
          <a href="/2017/elaine-chew">
            <img src="/images/2017/elaine_chew_300.jpg" />
          </a>
          <a href="/2017/elaine-chew">
            <h3>Elaine Chew</h3>
          </a>
          <h4><a href="http://eecs.qmul.ac.uk/">Queen Mary University of London</a></h4>
        </div>
        <div>
          <a href="/2017/ron-garcia">
            <img src="/images/2017/ron_garcia_300.jpg" />
          </a>
          <a href="/2017/ron-garcia">
            <h3>Ron Garcia</h3>
          </a>
          <h4><a href="http://www.cs.ubc.ca">University of British Columbia</a></h4>
        </div>
        <div>
          <a href="/2017/james-long">
            <img alt="James Long" src="/images/2017/james_long_300.jpg" />
          </a>
          <a href="/2017/james-long">
            <h3>James Long</h3>
          </a>
          <h4><a href="http://shiftreset.co/">Shift Reset LLC</a></h4>
        </div>
        <div>
          <a href="/2017/heather-miller">
            <img src="/images/2017/heather_miller_300.jpg" />
          </a>
          <a href="/2017/heather-miller">
            <h3>Heather Miller</h3>
          </a>
          <h4><a href="https://scala.epfl.ch/">Scala Center at EPFL</a></h4>
        </div>
        <div>
          <a href="/2017/fabienne-serriere">
            <img alt="Fabien Serrière" src="/images/2017/fabienne_serriere_300.jpg" />
          </a>
          <a href="/2017/fabienne-serriere">
            <h3>Fabienne Serrière</h3>
          </a>
          <h4><a href="https://www.kickstarter.com/projects/fbz/knityak-custom-mathematical-knit-scarves">KnitYak</a></h4>
        </div>
      </div>
    </div>
  </section>
  <section class="schedule" >
    <h3>Conference Schedule</h3>
    <dl class="dl-horizontal">
      <dt>8:00 - 9:25 AM</dt>
      <dd>Registration - <a href="http://curiocollection3.hilton.com/resources/media/qq/STLCUQQ/en_US/pdf/STLCU.Floorplans.Apr26.pdf">Grand Ballroom E & F (map)</a><br /></dd>

      <dt>9:25 - 9:30 AM</dt>
      <dd>Opening</dd>

      <dt>9:30 - 10:20 AM</dt>
      <dd class="speaker">
        <a href="/2017/heather-miller">
          <span>What happened to distributed programming <br />languages?</span> Heather Miller
        </a>
      </dd>

      <dt>10:30 - 11:20 AM</dt>
      <dd class="speaker">
        <a href="/2017/kenichi-asai">
          <span>Delimited Continuations for Everyone</span> Kenichi Asai
        </a>
      </dd>

      <dt>11:20 - 12:45 PM</dt>
      <dd>
        <a href="/2017/lunch">
          Lunch (click to learn more about lunch options)
        </a>
      </dd>

      <dt>12:50 - 1:40 PM</dt>
      <dd class="speaker">
        <a href="/2017/james-long">
          <span>My History with Papers</span> James Long
        </a>
      </dd>

      <dt>1:50 - 2:40 PM</dt>
      <dd class="speaker">
        <a href="/2017/elaine-chew">
          <span>Decoding the Sensuality in Music</span> Elaine Chew
        </a>
      </dd>

      <dt>2:50 - 3:20 PM</dt>
      <dd>
        <a href="/2017/lunch">
          Snack (click to learn more about snack options)
        </a>
      </dd>

      <dt>3:25 - 4:15 PM</dt>
      <dd class="speaker">
        <a href="/2017/ron-garcia">
          <span>What type of thing is a type?</span> Ron Garcia
        </a>
      </dd>

      <dt>4:25 - 5:15 PM</dt>
      <dd class="speaker">
        <a href="/2017/fabienne-serriere">
          <span>Knittable Seashells</span> Fabienne Serrière
        </a>
      </dd>

      <dt>5:15 - 5:20 PM</dt>
      <dd>Closing</dd>

      <dt>7:00 - 9:30 PM</dt>
      <dd>
        <a href="https://thestrangeloop.com/2017/strange-loop-party.html">
          Strange Loop Party
        </a>
        at the
        <a href="http://www.citymuseum.org/visit/about/">
          City Museum
        </a>
      </dd>
    </dl>
  </section>
  <section>
    <div class="location-details">
      <h3>Conference location</h3>
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd>September 28, 2017</dd>
        <dt>Address</dt>
        <dd>
          <a href="http://doubletree3.hilton.com/en/hotels/missouri/st-louis-union-station-a-doubletree-by-hilton-hotel-STLUSDT/index.html">Union Station Doubletree</a><br />
          1820 Market St.<br />
          St. Louis, MO 63103<br />
          (314) 231-1234<br />
        </dd>
        <dt>Room</dt>
        <dd>
          <a href="http://curiocollection3.hilton.com/resources/media/qq/STLCUQQ/en_US/pdf/STLCU.Floorplans.Apr26.pdf">Grand Ballroom E & F (map)</a><br />
          There will be coffee/tea/beverages in Foyer A
        </dd>
      </dl>
    </div>
    <div class="location-map">
      <iframe title="Map to venue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.8568557794574!2d-90.20978604817624!3d38.629173979512835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b31de5f5865d%3A0xa0a4a4e039774dd1!2sSt.+Louis+Union+Station+-+a+DoubleTree+by+Hilton+Hotel!5e0!3m2!1sen!2sus!4v1469380520055" frameborder="0" style="border:0" allowfullscreen class="venueMap"></iframe>
    </div>
  </section>
</article>
<script>
 function bannerClick(e) {
   window.location.href="https://ti.to/strange-loop/2017";
 }
</script>
