---
title: Home
og_title: Papers We Love Conference 2017
---
<%= partial '2017/partials/indexTopnav' %>

<div class="home-main-image">
  <img class="desktop-img" src="http://static.v25media.com/pwl-desktop-header-ALT.png"/>
  <img class="mobile-img" src="http://static.v25media.com/pwl-mobile-header-ALT.png"/>
</div>

<div class="mobile-text">
  <p>September 28, 2017</p>
  <p>St. Louis, MO</p>
</div>

<article class="container home">
  <section>
    <div class="showcase-headline">
      <h1>We're ready for 2017!</h1>
    </div>
    <div class="showcase-text">
      <p><a href="/2016/">Papers We Love 2016</a> was a great success and we'd like to thank all of our speakers and all of you who made it such a great conference. We're putting together another line-up of amazing speakers for 2017 and hope to see you in St. Louis in conjunction with <a href="https://thestrangeloop.com/">Strange Loop</a>.</p>

      <p>We'll be posting more information here very soon, so stay tuned. In the meantime you can <a href="http://papersweloveslack.herokuapp.com/">join the Papers We Love Slack</a> to keep up with the latest developments. If you or your company is <a href="/2017/prospectus/">interested in sponsoring PWLConf 2017</a> please <a href="mailto:contact@paperswelove.org">contact us</a>.</p>
    </div>
  </section>
  <section>
    <div class="container speakers">
      <div class="speakers-headline">
        <h1>Speakers</h1>
      </div>
      <div class="speaker-list">
        <div>
          <img alt="Kenichi Asai" src="/images/2017/kenichi_asai_300.jpg" />
          <h3>Kenichi Asai</h3>
          <h4><a href="http://www.is.ocha.ac.jp/index_e.html">Ochanomizu University</a></h4>
        </div>
        <div>
          <img alt="James Long" src="/images/2017/james_long_300.jpg" />
          <h3>James Long</h3>
          <h4><a href="http://jlongster.com/">Shift Reset LLC</a></h4>
        </div>
        <div>
          <img alt="Fabien Serriére" src="/images/2017/fabienne_serriere_300.jpg" />
          <h3>Fabienne Serrière</h3>
          <h4><a href="https://www.kickstarter.com/projects/fbz/knityak-custom-mathematical-knit-scarves">KnitYak</a></h4>
        </div>
        <div>
          <img src="/images/2017/placeholder-7.png" />
          <h3>TBD</h3>
          <!--<h4><a href=""></a></h4> -->
        </div>
        <div>
          <img src="/images/2017/placeholder-10.png" />
          <h3>TBD</h3>
          <!--<h4><a href=""></a></h4> -->
        </div>
        <div>
          <img src="/images/2017/placeholder-1.png" />
          <h3>TBD</h3>
          <!--<h4><a href=""></a></h4> -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="location-details">
      <h3>Conference location</h3>
      <dl class="dl-horizontal">
        <dt>Date</dt>
        <dd>September 28, 2017</dd>
        <dt>Address</dt>
        <dd>
          <a href="http://doubletree3.hilton.com/en/hotels/missouri/st-louis-union-station-a-doubletree-by-hilton-hotel-STLUSDT/index.html">Union Station Doubletree</a><br />
          1820 Market St.<br />
          St. Louis, MO 63103<br />
          (314) 231-1234<br />
        </dd>
      </dl>
    </div>
    <div class="location-map">
      <iframe title="Map to venue" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3116.8568557794574!2d-90.20978604817624!3d38.629173979512835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b31de5f5865d%3A0xa0a4a4e039774dd1!2sSt.+Louis+Union+Station+-+a+DoubleTree+by+Hilton+Hotel!5e0!3m2!1sen!2sus!4v1469380520055" frameborder="0" style="border:0" allowfullscreen class="venueMap"></iframe>
    </div>
  </section>
</article>
