---
title: Home
og_title: Papers We Love Conference 2017
---
<!-- partial for topnav  -->

<header>
  <nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Code of Conduct</a>
    <a href="#">Sponsors</a>
    <a href="#">Conference Repository</a>
  </nav>
  <img class="desktop-img" src="http://static.v25media.com/pwl-desktop-header-ALT.png"/>
  <img class="mobile-img" src="http://static.v25media.com/pwl-mobile-header-ALT.png"/>
</header>

<div class="mobile-text">
  <p>September 28, 2017</p>
  <p>St. Louis, MO</p>
</div>

<article class="container">
  <section>
    <div class="col-md-12">
      <h1>Hello friends</h1>
      <p>Nesciunt non optio consectetur. Sunt et cumque assumenda. Ut vitae odit aut eius minus consequuntur iste sunt. Vel fugiat qui amet hic maxime et.</p>
    </div>
  </section>
  <section>
    <div class="col-md-4">
      Columns
    </div>
    <div class="col-md-4">
      Columns
    </div>
    <div class="col-md-4">
      Columns
    </div>
  </section>
</article>

<!-- partial for footer  -->
