---
title: Home
og_title: Papers We Love Conference 2018
---
<header class="index">
  <nav>
    <div class="g max-width-container">
      <!-- <a href="#"><i class="fas fa-ticket-alt"></i> Buy Tickets!</a> -->
      <a href="/2018/code-of-conduct">Code of Coduct</a>
      <a href="/2018/sponsors">Sponsors</a>
      <a href="/2018/prospectus">Become a Sponsor</a>
    </div>
  </nav>
  <h1>
    <span class="max-width-container">
      <%= image_tag '2018/mobile-header.png', :alt => "Drawing of the Peabody Opera House in St. Louis", :title => "Papers We Love Conference 2018", :class => "mobile-img" %>
      <%= image_tag '2018/header.png', :alt => "Drawing of the Peabody Opera House in St. Louis", :title => "Papers We Love Conference 2018", :class => "desktop-img" %>
    </span>
  </h1>
  <h2>
    September 26, 2018
  </h2>
  <h3>
    Peabody Opera House<br/>
    St. Louis, MO
  </h3>
</header>
<article class="text indexText">
  <h1>Getting ready for 2018!</h1>
  <p>We're very excited to be back in St. Louis as part of the <a href="https://thestrangeloop.com/preconf.html">Strangeloop Pre-Conf</a> program for the third year in a row. This year should be pretty exciting as <a href="https://icfp18.sigplan.org/home">ICFP 2018</a> will be co-located in St. Louis as well.</p>

  <p>We are working hard to put together another great program for you and will post updates here as they develop. You can also <a href="https://twitter.com/papers_we_love" title="@papers_we_love">follow us on Twitter</a> or  <a href="http://papersweloveslack.herokuapp.com/" title="Join our Slack">join our Slack</a> to get updates. If you're not familiar with Papers We Love Conf then checkout the videos from our previous events.</p>

  <h2><a href="/2017">2017</a></h2>
  <iframe class="video-embed" src="https://www.youtube.com/embed/videoseries?list=PLGRqfvsPiRShRY94F1p_3TT1HMoipcc3c" frameborder="0" allowfullscreen></iframe>

  <h2><a href="/2016">2016</a></h2>
  <iframe class="video-embed" src="https://www.youtube.com/embed/videoseries?list=PLGRqfvsPiRShwIXMA5P3WR_9LgBOAdvw4" frameborder="0" allowfullscreen></iframe>
</article>
