---
title: Nobuko Yoshida
og_title: PWLConf Speaker - Nobuko Yoshida
og_image: http://pwlconf.org/images/speakers/NobukoYoshida.png
og_width: 300
og_height: 300
---

<article id="articleContainer">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <%= partial 'partials/internalTopNav' %>
  <%= partial 'partials/nobukoYoshida' %>
</article>
