---
title: Sponsors
og_title: Sponsors | Papers We Love Conference 2016
---
<article id="articleContainer">
  <section class="articleTagline">
    Join us for a day with some of Papers We Love’s favorite writers and speakers.
  </section>
  <section class="articleNavigation">
    <nav class="navRow">
      <a href="/" class="navLink">&larr; Back to PWLConf</a>
      <a href="/">
        <%= image_tag 'conf_logo_b.svg', :alt => "PWLConf 2016", :title => "Papers We Love Conference 2016", :class => "imgPwlConfNavLogo" %>
      </a>
    </nav>
  </section>
  <section class="articleTextContent">
    <h1 id="pwlconf-sponsors">PWLConf Sponsors</h1>
    <div>
      <h2>Platnium Sponsors</h2>
    </div>
    <div>
      <h2>Gold Sponsors</h2>
      <a href="http://engineering.cerner.com/">
        <%= image_tag 'CernerLogo_Horizontal.png', :alt => "Cerner Logo", :title => "Cerner Logo", :class => "imgSponsor goldSponsor" %>
      </a>
      <p class="sponsorBlurb">
        At <a href="http://engineering.cerner.com/">Cerner</a>, we love solving the hard problems that no one else wants to tackle. We embrace polyglot programming, distributed systems, and open source. We also know that it’s important to allow engineers to take a step back and try new things. That’s why we host periodic hackathons, meetups, tech talks, and an annual internal two-day developers conference in addition to attending, sponsoring, and speaking at industry conferences.
      </p>
    </div>
    <div>
      <h2>Silver Sponsors</h2>
    </div>
    <div>
      <h2>Bronze Sponsors</h2>
    </div>
    <div>
      <h2>Additional Sponsors</h2>
    </div>
  </section>

  <section class="articleFooterContent">
    <div class="footerRow">
      <div class="footerItem">
        <h2>Web</h2>
        <a href="http://paperswelove.org">paperswelove.org</a>
      </div>
      <div class="footerItem">
        <h2>Twitter</h2>
        <a href="https://twitter.com/papers_we_love">@papers_we_love</a>
      </div>
      <div class="footerItem">
        <h2>Email</h2>
        <a href="mailto:contact@paperswelove.org">contact@paperswelove.org</a>
      </div>
    </div>
  </section>
</article>
